In [366]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints
from urllib.request import urlopen
pd.set_option('display.max_columns', None)

In [367]:
sharksdf = pd.read_csv('attacks.csv', encoding='latin1')

In [368]:
#EXPLORACIÓN DEL ARCHIVO

In [369]:
sharksdf.head() #muestra de las cinco primeras filas

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [370]:
sharksdf.shape #las dimensiones del df. 25.723 filas y 24 columnas

(25723, 24)

In [371]:
sharksdf.columns # de primeras estas son las columnas. Voy a arreglar los nombres de las columnas

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [372]:
new_column =[]
for c in sharksdf.columns:
    c = c.replace(" ","")
    c = c.replace(".","")
    c = c.replace("Fatal(Y/N)","Dead(Y/N/U)")
    new_column.append(c)
sharksdf.columns = new_column  # estos son los arreglos que integro en el nombre de las columnas

In [373]:
sharksdf.columns # así quedan las columnas.NICE!

Index(['CaseNumber', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Dead(Y/N/U)', 'Time',
       'Species', 'InvestigatororSource', 'pdf', 'hrefformula', 'href',
       'CaseNumber1', 'CaseNumber2', 'originalorder', 'Unnamed:22',
       'Unnamed:23'],
      dtype='object')

In [374]:
#Tras esta breve modificación, sigo con la exploración del df

In [375]:
sharksdf.dtypes # menos Year y originalorder todas las celdas contienen textos.

CaseNumber               object
Date                     object
Year                    float64
Type                     object
Country                  object
Area                     object
Location                 object
Activity                 object
Name                     object
Sex                      object
Age                      object
Injury                   object
Dead(Y/N/U)              object
Time                     object
Species                  object
InvestigatororSource     object
pdf                      object
hrefformula              object
href                     object
CaseNumber1              object
CaseNumber2              object
originalorder           float64
Unnamed:22               object
Unnamed:23               object
dtype: object

In [376]:
# LIMPIEZA DE COLUMNAS

In [377]:
nan_cols = sharksdf.isna().mean() * 100   #porcentaje de nulos por columna. Unnamed:22 y Unnamed:23 tienen casi todo vacio
nan_cols[nan_cols>0]

CaseNumber              66.170353
Date                    75.500525
Year                    75.508300
Type                    75.516075
Country                 75.694903
Area                    77.269370
Location                77.599813
Activity                77.615364
Name                    76.316915
Sex                     77.697003
Age                     86.506240
Injury                  75.609377
Dead(Y/N/U)             77.595926
Time                    88.539439
Species                 86.533453
InvestigatororSource    75.566614
pdf                     75.500525
hrefformula             75.504412
href                    75.500525
CaseNumber1             75.500525
CaseNumber2             75.500525
originalorder           75.473312
Unnamed:22              99.996112
Unnamed:23              99.992225
dtype: float64

In [378]:
sharksdf.drop(columns=nan_cols[nan_cols>99].index, inplace=True) #borro las Unnamed

In [379]:
sharksdf.columns #Asi quedan las columnas

Index(['CaseNumber', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Dead(Y/N/U)', 'Time',
       'Species', 'InvestigatororSource', 'pdf', 'hrefformula', 'href',
       'CaseNumber1', 'CaseNumber2', 'originalorder'],
      dtype='object')

In [380]:
sharksdf.duplicated().any() # True me indica que SI hay duplicados

True

In [381]:
sharksdf.drop_duplicates(inplace=True) # Borrados los duplicados

In [382]:
sharksdf.duplicated().any() #equiliqua

False

In [383]:
#voy a crear una copia de df para seguir haciendo cambios por si meto la pata
sharksdf2 = sharksdf.copy() # done

In [384]:
#VAMOS A POR LAS COLUMNAS

In [385]:
#COLUMNA NAME
sharksdf.Name.sample(n=40) #muestra de 40 elementos para ojear que me puedo encontrar por ahi

3717                                        Mr. N. Warry
5083                                         John Gibson
4222                           Patterson (John) Nikuniko
2654                                        Edward Malek
4100                                                male
859                                Rafael Colón Casanova
3315                                         Johan Brink
398                                                Steve
5746                                             Whittle
1482                                                male
4602                14' catamaran, occupant: M. Leverenz
1789                      male, a tourist from Venezuela
737                                       Brandon Murray
280                                                 male
547                               Mikaela Amezaga Medina
4720                                        200 soldiers
2811                                         J. McCorley
4359                                       Glen Stoddart
3006                                      Robert Conklin
2495                                         Yan Sai-wah
67                                                  male
1923                                        Dylan Feindt
4167    U.S. Navy U.D.T. Diver trainee, Ronald Gerringer
306                                      Richard Branson
3546                                     Theresa Maineri
5798                                       a Malay diver
4183                                      Donald Webster
5142                                     Herbert Webster
4383                                       Michael Leech
6016                                        James Rogers
2111                                          Kevin King
1589                                           Sochidjin
847                                       Eric Tarantino
4216                                           Jim Kline
104                                                 male
5719                                           rowboat,
4323                                                 NaN
5723                                          Mr. Ryland
3930                                                 NaN
1602                                        Chris Parker
Name: Name, dtype: object

In [386]:
#observo que hay nulos,generos... voy a corregir algunos

sharksdf['Name'].fillna('Unknown', inplace=True)
sharksdf.loc[sharksdf['Name'].str.contains('male',na=False),'Name']='Unknown'
sharksdf.loc[sharksdf['Name'].str.contains('boy',na=False),'Name']='Unknown'
sharksdf.loc[sharksdf['Name'].str.contains('female',na=False),'Name']='Unknown'
sharksdf['Name']=sharksdf['Name'].str.replace('Anonymous','Unknown')
sharksdf['Name']=sharksdf['Name'].str.replace('Male','Unknown')
sharksdf['Name']=sharksdf['Name'].str.replace('fisherman','Unknown')
sharksdf['Name']=sharksdf['Name'].str.replace('Female','Unknown')
sharksdf['Name']=sharksdf['Name'].str.replace('woman','Unknown')
sharksdf['Name']=sharksdf['Name'].str.replace('sailor','Unknown')
sharksdf['Name']=sharksdf['Name'].str.replace('crewman','Unknown')
sharksdf['Name']=sharksdf['Name'].str.replace('a young Scotsman','Unknown')
sharksdf['Name']=sharksdf['Name'].str.replace('a native ','')
sharksdf['Name'] = sharksdf['Name'].replace('\s+', ' ', regex=True)

In [387]:
#veamos con otra muestra que sale

sharksdf.Name.sample(n=40)

1100                                       Dylan Crawford
494                                         Raul Armenta
5826                                           "Old Cuba"
4888                                          David Paton
5331                                              Unknown
2588                                           Jim Yarber
2972                                 Brian Archie Plumb
5659                                              Unknown
2812                                       Phllip DeBruyn
1300                                             Sam Judd
2354                                          Jason Barzo
4329                                        Dr. D.H. Teas
1063                                  Tshintshekile Nduva
6049                                              Unknown
3805                                         Robert Stein
3669                                         Yoshio Ukita
2843                                                 A.M.
4626                                    British constable
752                                               Unknown
2050                                      Richard Whatley
2886                                        T. Washington
4581                                     Charles Kaufmann
2902                                      George Buckland
2912                                          Colin Biggs
2286                                       Gyula Plaganyi
5769                                Captain Mark Robinson
2179                                         Darren James
4149    Tahei Nakatani, a Japanese seaman from the fis...
3186                                              Unknown
5895    Abel Fosdyk (who claimed to be sole survivor f...
3322                                        Kenneth Hiles
1451                                          Bruce Lurie
3780                                          Hugh Meikel
4211                                       F. L. Fernando
2067                                 boat of Al Hattersly
2621                                         Gabe Martino
3941                                         Harold Riley
3580                                      Steven Oschosky
4544    Francisco Edmund Blanc, a scientist from Natio...
4357              Mr. Abbas Jasem (Mr. Kasem Jasem's son)
Name: Name, dtype: object

In [388]:
#sigue estando sucio pero menos jeje

In [389]:
#COLUMNA COUNTRY
sharksdf.Country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [390]:
#Veo paises en minusculas,espacios,nulos... y más cosas. Voy a arreglarlo en la medida de lo posible

sharksdf['Country'].fillna('Unknown', inplace=True) #nulos por Unknown
sharksdf['Country'] = sharksdf['Country'].str.strip().str.upper() #todo en mayuscula 
sharksdf.Country.unique() # a ver como queda

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'UNKNOWN', 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, BRITISH OVERSEAS TERRITORY', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'FIJI', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN',
       'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'HONDURAS', 'VENEZUELA',
       'SRI LANKA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA',
       'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL',
       'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA',
       'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA',
       'NORTH ATLANTIC OCEAN', 'PORTUGAL', 'SOUTH CHINA SEA',
       'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN',
       'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN',
       'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN',
       'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'NORTH SEA', 'NICARAGUA',
       'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS',
       'GABON', 'MAYOTTE', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA',
       'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN',
       'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS',
       'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'COAST OF AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'BETWEEN PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [391]:
#tiene mejor pinta. Bastante limpio comparado con el resto de columnas del df. Sigo con otras columnas

In [392]:
#VAMOS A POR TYPE
set(sharksdf['Type']) # Buena pinta. Poco que limpiar.

{'Boat',
 'Boating',
 'Boatomg',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked',
 nan}

In [393]:
sharksdf['Type'] = sharksdf['Type'].str.strip()
sharksdf['Type'] = sharksdf['Type'].str.replace('Boating','Boat') #Boating por Boat
sharksdf['Type'] = sharksdf['Type'].str.replace('Invalid','Unknown') #Invalid por Unknown
sharksdf['Type'] = sharksdf['Type'].str.replace('Boatomg','Boat') #Boatomg por Boat
sharksdf['Type'].fillna('Unknown', inplace=True) #nulos por Unknown
set(sharksdf["Type"]) #así quedan los Type

{'Boat', 'Provoked', 'Questionable', 'Sea Disaster', 'Unknown', 'Unprovoked'}

In [394]:
#COLUMNA SEX

set(sharksdf['Sex']) #Aquí solo quiero que aparezca F, M y UNKNOWN.Tal que así

{'.', 'F', 'M', 'M ', 'N', 'lli', nan}

In [395]:
sharksdf['Sex'] = sharksdf['Sex'].str.replace('N', 'M') 
#La N y la M están muy pegadas en el teclado. Asumo que es un error de transcripción

sharksdf['Sex'] = sharksdf['Sex'].str.strip()
sharksdf['Sex'] = sharksdf['Sex'].fillna('UNKNOWN') # Relleno los nulos con UNKNOWN
sharksdf['Sex'] = sharksdf['Sex'].str.replace('lli', 'UNKNOWN') # lli ni idea de que quiere decir. Asi que UNKNOWN
sharksdf['Sex'] = sharksdf['Sex'].str.replace('.', 'UNKNOWN') # El punto no me dice nada
set(sharksdf['Sex']) # Así me quedaría

{'F', 'M', 'UNKNOWN'}

In [396]:
# COLUMNA CASENUMBER

set(sharksdf['CaseNumber']) #hay nulos, ND, y fechas seguidas de .a .b .....

{nan,
 '1897.12.04.R',
 '1983.08.15',
 '1944.10.26.a',
 '1968.12.09',
 '1962.11.29',
 '1962.07.03.R',
 '2002.05.21.R',
 '2006.10.10',
 '1932.12.09.R',
 '2000.12.11',
 '2000.10.14',
 '1991.11.26.b',
 '2018.04.28.b',
 '1953.08.00',
 '2009.09.02',
 '1975.07.05',
 '2004.03.27.a',
 '1966.08.21.b',
 '1892.03.25.R',
 '2014.03.21',
 '2007.10.06',
 '1926.04.07',
 '1861.03.00',
 '2006.02.23',
 '2010.12.17',
 '1963.12.08',
 '2003.09.19',
 '2008.07.19',
 '1853.00.00.a',
 '1957.09.02',
 '1999.01.03.R',
 '2009.07.04',
 '1957.00.00.f',
 '2005.10.03',
 '1888.02.00',
 '1972.03.16',
 '1900.10.27',
 '1895.00.00.b',
 '1952.07.27.c',
 '1992.05.00',
 '2006.08.27',
 '1988.10.06',
 '1959.01.12',
 '1916.07.06',
 '1946.12.28',
 '1996.09.06.a',
 '1998.07.26',
 '1986.04.00',
 '1907.10.14',
 '2009.05.25',
 '1980.07.00',
 '1865.07.14.R',
 '1902.01.25.R',
 '2002.01.04',
 '2007.01.25.a',
 'ND.0015',
 '2002.12.21',
 '1994.07.09.c',
 '2008.12.06',
 '1916.03.19',
 '1966.07.17.a',
 '1966.08.28',
 '1937.10.27.b',
 '1989.07.07',
 '1963.09.26',
 '1939.07.16',
 '2005.07.22',
 '1997.08.04',
 '2004.01.12',
 '1978.11.26',
 '1958.07.04.b',
 '1993.01.04',
 '1947.03.12',
 '2011.12.07.a',
 '2000.03.30',
 '1987.07.12.b',
 '2011.07.07.b',
 '2005.08.24.b',
 '1997.06.02',
 '1975.03.13',
 '1961.00.00.b',
 '2004.12.16',
 '1995.08.26/b',
 '1993.06.00',
 '2004.07.27.a',
 '1941.11.24',
 '2015.06.25.R',
 '1839.04.14',
 '1826.12.00',
 '1974.08.23',
 '2018.05.26.b',
 '2003.07.05.b',
 '1911.05.01.R',
 '1974.09.02.b',
 '1947.04.20',
 '1972.02.20',
 '1894.09.12.R',
 '1958.04.00',
 '1964.07.10',
 '2011.05.13.b',
 '2007.09.08',
 'ND.0055',
 '1940.00.00.c',
 '2011.06.19.b',
 '1905.04.06',
 '1984.09.22.a',
 '2003.07.26.R',
 '2011.07.13.a',
 '1991.02.12',
 '1895.06.03.R',
 '2011.02.23',
 '2008.06.28.c',
 '1949.08.17',
 '2004.01.25',
 '1993.03.27',
 '2012.06.22.a',
 '1937.03.09',
 '1800.00.00',
 '1999.08.26',
 '1961.01.06.a',
 '1944.09.00',
 '2005.12.24',
 '2004.09.08',
 '1951.11.28.b',
 '1972.06.26.b',
 '1936.07.12',
 '1882.09.00',
 '1978.00.00.a',
 '1963.11.30.a',
 '1935.08.24',
 '1954.00.00.a',
 '1942.00.00.d',
 '2003.09.14.a',
 '1906.09.27.R.a',
 '1960.06.24',
 '1956.01.16',
 '1901.01.30',
 '1973.00.00.b',
 '1988.10.10',
 '2003.11.30.b',
 '1915.11.08',
 '1900.11.14',
 '2007.08.20',
 '1830.07.02.R',
 '1949.08.16',
 '1874.07.15',
 '1946.12.24.R',
 '1964.06.29.a',
 '1999.09.04.a',
 '1953.07.09',
 '1902.11.10',
 '1999.04.22',
 '1938.12.27',
 '2016.02.22',
 '1998.10.24',
 '1970.01.23.c',
 '1998.04.00',
 '1930.05.11',
 '1985.08.17',
 '2009.06.02.a',
 '2010.12.03.R',
 '1927.10.25',
 '2018.05.00',
 '2000.08.11',
 '2001.07.15.b',
 '1923.02.00',
 '2016.08.27',
 '2015.04.25',
 '1973.12.21.b',
 '2000.11.21',
 '2003.12.13.a',
 '1934.01.07',
 '1942.09.12.b',
 '2009.01.18',
 '2011.09.28.a',
 '1876.00.00.c',
 '2016.01.28',
 '1967.11.15',
 '1940.12.19.R',
 '1915.07.06.a.R',
 '1981.01.30',
 '1928.04.14',
 '2013.05.08.a',
 '2004.11.00',
 '2014.08.09',
 '1999.03.18.R',
 '1930.07.11',
 '1892.12.15',
 '1917.09.21',
 '1907.12.21',
 '1958.12.28',
 '1882.00.00.b',
 '1902.08.08',
 '1960.04.00.a',
 '2005.07.13',
 '1963.03.30',
 '2007.09.13',
 '1957.12.20',
 '2008.07.24.a',
 '1908.09.05',
 '1976.00.00.b',
 '2017.08.26.b',
 '1971.10.14',
 '1951.06.00',
 '1963.11.28',
 '1946.01.07',
 '1904.08.00',
 '1964.07.00.a',
 '2002.07.04',
 '1908.01.08',
 '1891.09.14.R',
 '1936.02.04',
 '1946.08.24',
 '1975.01.19',
 '1930.09.12.R',
 '2014.08.09.R',
 '1852.05.24',
 '1997.10.28.b',
 '2014.11.16',
 '1907.00.00.a',
 '1948.07.01',
 '1929.06.23',
 '1994.09.05',
 '1941.12.03',
 '1907.04.20',
 '1944.10.25.a',
 '1953.07.11',
 'ND.0022',
 '1975.07.19',
 '1879.03.10',
 '1960.06.05',
 '1995.08.27',
 '2017.07.23.a',
 '1961.04.17',
 '1950.06.06',
 '1926.01.26',
 '2012.03.14.b',
 '1961.03.14',
 '0000.0725',
 '2001.08.12',
 '2003.11.12.b',
 '1984.07.24.b',
 '2006.02.13',
 '1936.01.05',
 '1970.09.00.c',
 '1897.03.15.a.R',
 '1954.05.26.R',
 '1950.00.00.e',
 '1913.01.00',
 '2009.11.24',
 '2003.11.22',
 '1964.11.29',
 '1979.05.05',
 '1899.10.28',
 '1938.06.08',
 '1882.12.03',
 '1994.12.01',
 '1982.06.25',
 '2013.11.10',
 '1962.02.23',
 '1952.07.27.d',
 '1936.12.30',
 '1909.12.26.R',
 '2016.06.15.a',
 '1956.08.00.c',
 '1947.10.10',
 '1913.11.27',
 '2008.06.01.a',
 '1873.01.09.R',
 '1984.02.18',
 '1988.07.17',
 '2016.01.05',
 '1962.01.11.a',
 '2002.10.11',
 '2006.02.01.a',
 '2018.04.22',
 '2015.03.18',
 '2013.07.28.b',
 '2016.12.19',
 'ND-0122',
 'ND-0135',
 '1922.05.24',
 '2015.02.15',
 '1985.00.00.f',
 '2017.09.24.a',
 '1994.10.17',
 '1934.09.08',
 '1998.00.00.c',
 '1994.06.24',
 '2005.03.25',
 '1966.12.26',
 '1842.07.13',
 '1940.12.20',
 '2013.03.12',
 '1941.00.00.c',
 '1934.07.11',
 '1993.08.00.b',
 'ND.0013',
 '1914.01.17.R',
 '1962.01.14.a',
 '2014.06.09.b',
 '2010.01.27',
 '1894.04.28.b.R',
 '2005.04.25',
 'ND-0123',
 '1974.02.13.a',
 '2000.06.09.a',
 '1949.03.00',
 '2009.06.21',
 '1951.05.09.R',
 '1962.01.11.b',
 '1989.09.09.b',
 '1985.12.10',
 '2014.12.15',
 '2016.09.15',
 '1992.01.00',
 '2015.05.02',
 '1983.03.30.a',
 '1902.01.19',
 '1966.09.18',
 '2009.11.25',
 '2006.05.24',
 '2017.07.29.c',
 '1964.10.25',
 '1986.02.07',
 '1959.10.02',
 '2017.07.09',
 '1981.00.00.a',
 '1913.12.26.R',
 '2007.08.19.a.',
 '1992.09.10',
 '1950.04.09.a',
 '1929.08.05',
 '1999.08.16',
 '1811.03.01',
 '1964.11.13',
 '1982.01.29',
 '2000.11.04',
 '2010.05.18.b',
 '2017.07.31',
 '1955.07.07',
 '1964.02.01',
 '1896.11.01',
 '1922.01.04',
 '2007.02.00',
 '1962.08.31.R',
 '1962.12.30',
 '1999.09.29',
 '1555.00.00',
 '1892.06.24',
 '1932.11.09',
 'ND.0039',
 '1982.07.24.a',
 '1959.08.20',
 '1863.09.13.R',
 '1987.08.15',
 '2007.09.16.b',
 '2017.07.14.a',
 '2006.08.20.a',
 '1999.08.21',
 '2005.11.25.c',
 '1941.08.05',
 '2000.11.10',
 '2018.04.03',
 '2004.03.29',
 '2016.07.08.R',
 '2005.07.23',
 '2013.11.07.b',
 '1932.04.16.b',
 '1959.03.29',
 '2017.06.11',
 'ND.0012',
 '1990.04.09',
 '1907.08.12.b..R',
 '2017.06.18.b',
 '1992.08.29',
 '1968.12.00',
 '1953.09.02',
 '1881.08.12',
 '1873.07.28',
 '2002.12.01',
 '1974.01.07.a',
 '2016.02.10',
 '1903.03.20.R',
 '1989.07.14',
 '2002.09.21.b',
 '2004.05.22.c',
 '2009.04.03',
 '1943.06.16',
 '1940.02.20',
 '1938.00.00.e.R',
 '1878.11.17',
 '2015.10.07',
 '1858.03.14',
 '2005.09.22',
 '2001.08.18.a',
 '1994.04.03',
 '1988.07.00',
 '1983.12.22',
 '1916.12.08.a',
 '2013.02.21.b',
 '2009.03.21',
 '1964.06.28',
 '1999.02.26.R',
 '1987.03.30.b',
 '1961.07.07.b',
 '1906.09.27.R.b',
 '2010.08.10.b',
 '2005.05.14',
 '1977.08.31',
 '2013.10.08',
 '2002.09.21.a',
 '1962.05.12',
 '1950.07.27.R',
 '2012.04.11',
 '1808.12.25.R',
 '2018.04.15.a',
 '1926.07.23',
 '1997.07.12',
 '1881.08.16.R',
 '1971.04.05.a',
 '2011.12.31',
 '1982.08.29.c',
 '1927.04.10',
 '1931.02.10',
 '1987.05.25',
 '1997.08.11.b',
 '2007.07.00',
 '1999.05.29',
 '2006.08.00.a',
 '2016.04.08',
 '1991.07.00',
 '2017.04.06',
 '2009.05.16.b',
 '2005.11.16.R',
 '1969.11.05',
 '1932.07.02',
 '2009.02.22',
 '1990.07.22',
 'xx',
 '1984.08.07',
 '1967.08.26',
 '2013.05.27.a',
 '2017.09.25.a',
 '1967.10.17',
 '1885.11.26.R',
 '1954.10.02.b',
 '2013.07.29.c',
 '1995.07.28.a',
 '1921.08.22',
 '2005.01.08',
 '1992.08.21',
 '1961.03.30',
 '1889.01.31.R',
 '1948.09.15',
 '1895.07.16.R',
 '1957.04.07.a',
 'ND.0036',
 '1914.00.00',
 '1904.11.02',
 '1911.10.25',
 '1999.09.10',
 '1895.08.11',
 '1958.04.03',
 '1998.03.31',
 '2013.03.03',
 '1915.05.15.R',
 '2016.11.14',
 '2007.10.07',
 '1870.05.18',
 '1962.06.11.b',
 '2006.12.02',
 'ND.0048',
 '1937.01.27',
 '2005.08.06',
 '1823.12.30.R',
 '1996.09.06.b',
 '1965.07.30',
 '1962.02.15',
 '2012.05.29',
 '2011.05.21.a',
 '1966.06.11',
 '1929.00.00.b',
 '1960.03.31',
 '1897.09.17',
 '2017.08.05',
 '1917.11.00',
 '1960.00.00.j',
 '1964.12.10.a',
 '1887.02.08',
 '2014.07.09',
 '1994.03.01',
 '1981.10.01',
 '2015.06.17',
 '2014.03.18.b',
 '2004.04.22',
 '1928.11.15.R',
 '1998.10.01.a',
 '1956.09.00.b',
 '1940.00.00.d',
 '2006.06.26',
 '2007.09.20',
 '1942.10.12',
 '1906.09.05.R',
 '2004.05.23.b',
 '1965.04.29',
 '1994.00.00.b',
 '1931.09.21.b',
 '1985.07.00',
 '2012.12.05',
 '1967.03.12',
 '1999.09.24',
 '1989.12.02',
 '1994.05.24',
 '2003.12.13.b',
 '1787.07.05',
 '1967.11.04',
 '1963.12.04.R',
 '1974.06.20',
 '2012.10.07',
 '1922.01.15',
 '2006.07.29.b',
 '1617.00.00.R',
 '2005.06.27',
 '2000.08.13',
 '1981.08.29',
 '1939.00.00.d',
 '1950.00.00.c',
 '2004.05.23.a',
 '1871.05.22.R',
 '1879.00.00',
 '1965.03.23',
 '1999.03.18.b',
 '1987.04.01',
 '2012.07.06',
 '1935.05.19',
 '1909.03.06',
 '1985.08.22',
 '1929.01.05',
 '1994.12.09.b',
 '1961.09.24.a',
 '2008.06.01.b',
 '1990.09.15',
 '1971.04.05.b',
 '1960.12.27.a.',
 'ND.0088',
 '2003.06.08',
 '1956.07.28',
 '2015.01.17',
 '1986.02.18',
 '1965.08.30',
 '2002.05.10',
 '1943.00.00.d',
 '1962.04.05',
 '1938.03.08',
 '2016.05.21.a',
 '1868.00.00.a',
 'ND-0109',
 '1907.02.03',
 '2007.05.07.b',
 '2010.07.23',
 '1988.03.31',
 '1961.04.08',
 '1812.07.00',
 '1996.05.18',
 '2011.05.21.b',
 '1979.04.08.a',
 '1968.11.06',
 '2011.05.25',
 '1867.00.00',
 '1999.11.23',
 '1904.09.00',
 '1989.08.06.R',
 '2014.10.14',
 '1963.12.22.a',
 '1981.09.03.a',
 '2015.10.05.b',
 '1978.07.27',
 '2005.10.25',
 '1986.11.19',
 '1928.01.21.b',
 '2013.01.05',
 '2005.10.01',
 '2000.12.24',
 '2009.09.15',
 '1949.00.00.f',
 '1886.08.00.b',
 '2010.10.22',
 '2005.08.21',
 '2012.08.26',
 '1964.05.08',
 '2011.02.19',
 '2010.06.06',
 '2007.05.16',
 '2013.07.02',
 '1964.12.25',
 '2011.01.28',
 '2007.06.30.a',
 '1958.00.00.a',
 '2016.04.07.b',
 '1935.08.13',
 '1956.10.27',
 '1984.09.17',
 '1981.02.19',
 '1909.04.09.R',
 '2014.00.00.b',
 '1990.01.12',
 '2012.10.02',
 '2011.06.06.b',
 '1965.01.25',
 '1899.05.28',
 '2017.09.03.a',
 '1975.07.26.a',
 '1982.08.00',
 '1907.08.08.R',
 '1998.08.23.R',
 '2008.06.21',
 '1947.04.00',
 '1943.03.14',
 '1906.07.05.R',
 '1994.07.09.a',
 '2010.10.02.a',
 '1966.08.27.a',
 '2003.02.15.a',
 '1958.00.00.i',
 '1942.00.00.k',
 '1987.03.30.a',
 '2001.11.07',
 '1910.05.16.R',
 '2015.12.23',
 '1976.09.19',
 '1943.08.00',
 '1961.06.18',
 '2014.08.08',
 '1930.08.16',
 '1958.07.00.a',
 '1999.11.13',
 '1937.09.01',
 '1958.02.01',
 '2007.08.15',
 '2011.03.10',
 '1878.09.14.R',
 '1989.06.00',
 '2017.08.18',
 '2014.07.16',
 '1810.09.15',
 '1909.11.14',
 '1985.03.16',
 '2010.12.05',
 '2009.04.06.a',
 '1928.04.04',
 '1981.08.07',
 '1988.09.13.a',
 '1965.10.10',
 '2011.08.31',
 '1969.11.30',
 '1984.03.17',
 '1949.01.23',
 '1909.00.00',
 '2010.07.04',
 '1980.01.13',
 '1952.05.07.R',
 '1990.05.06',
 '2016.09.01',
 '2015.06.24.a',
 '1954.01.30',
 '1898.00.00.a',
 '1972.01.01.a',
 'ND.0042',
 '2000.00.00',
 '2015.12.25',
 '2014.12.29.b',
 '1965.00.00.g',
 '1945.05.08',
 '1981.02.00',
 '1869.04.10',
 '2014.09.00',
 '2014.04.03',
 '1959.06.13',
 '1995.08.10.b',
 '1979.08.28',
 '1924.07.14',
 '1938.01.14',
 '1999.10.30.a',
 '1991.06.29',
 '1970.06.13.b',
 '1952.01.23',
 '2017.04.10.a',
 '1779.00.00',
 '2014.12.28.c',
 '2003.04.18',
 '2015.07-10',
 '1945.00.00.a',
 '2015.04.29',
 '2011.08.16.c',
 '1898.00.00.R',
 '1983.08.13.b',
 '1995.09.03.a',
 '1973.09.29',
 '1964.03.00',
 '1959.00.00.e',
 '1959.08.02',
 '2005.05.15',
 '1945.09.16',
 '1960.04.00.b',
 '1952.12.24',
 '1966.09.00',
 '1944.05.24.R',
 '1904.10.11.R',
 '1957.11.04.R',
 '1929.12.21',
 '2017.02.06.b',
 '1935.05.12',
 '1977.03.13.c',
 '2003.11.30.a',
 '2001.10.02',
 '2011.10.05',
 '2002.08.05',
 '2012.02.20',
 'ND.0020',
 '2016.07.07.b',
 '1839.00.00.a',
 '2002.06.11.b',
 '1996.07.23.a',
 '1978.04.02.b',
 '1882.01.23.R',
 '1890.00.00.d',
 '1944.05.04',
 '1901.07.17',
 '2008.12.27.a',
 '2007.07.22',
 '2015.06.05',
 '2007.08.09.b',
 '1966.05.16.b',
 '1913.05.21',
 '1978.11.23',
 '2015.10.17.c',
 '1862.07.25',
 '1982.09.04',
 '2008.09.09',
 '2006.08.13',
 '1965.04.25',
 '1953.09.27',
 '2002.05.31.b',
 '2000.01.28.R',
 '1834.07.15.R',
 '2014.10.18',
 '1970.06.13.a',
 '2012.05.20',
 '1939.00.00.c',
 '2017.07.07',
 '2015.09.17',
 '1980.04.25',
 '1905.07.29',
 '2011.02.28.R',
 '1949.12.00.a',
 '1958.10.05',
 '1960.00.00.d',
 '1937.03.26',
 '1983.05.31',
 '1958.00.00.h',
 '1957.04.07.b',
 '2006.08.20.b',
 '1999.09.05',
 '2005.06.04',
 '1982.05.00',
 '1939.00.00.b',
 '1990.10.12',
 '1921.11.27.b',
 '1893.05.23.R',
 '1973.01.21',
 '1888.08.14',
 '1981.12.19',
 '1853.00.00.d',
 '1988.06.01',
 '1918.11.00.a',
 '2013.03.10.b',
 '1952.08.03',
 '2015.11.01.a',
 '2006.05.28',
 '1950.05.24',
 '2016.04.19',
 '1979.10.22',
 '1957.04.22',
 '1959.00.00.d',
 '1961.12.28.c',
 '2012.06.03',
 '2011.09.04.a',
 '2017.03.18',
 '1956.08.15.R',
 '1975.02.23',
 '1963.11.14',
 '1952.12.07',
 '2002.11.00.a',
 '1935.03.02',
 '1944.10.25.b',
 '1894.08.01',
 '2001.04.08.a',
 '1999.08.23',
 '1996.09.02.b',
 '1958.00.00.d',
 '2010.02.16',
 '1986.10.01',
 '2003.05.14',
 '2002.11.17',
 '1998.08.26',
 '2012.12.31',
 '2008.02.24',
 '2001.08.22',
 '1742.12.17',
 '1956.00.00.a',
 '1882.05.14',
 '1956.00.00.f',
 '1897.09.06',
 '2003.04.23.a',
 '1858.01.14.R',
 'ND-0124',
 '2008.10.12',
 '1932.04.16.a',
 '1911.07.16.R',
 '1976.10.18',
 '2004.08.15',
 '1973.12.25',
 '1877.12.15',
 '1959.07.00.b',
 '2002.04.18',
 '1898.00.00.e',
 '1817.06.24',
 '1951.03.15',
 '2005.09.24',
 '1971.04.00',
 '2009.07.11.b',
 '1954.07.03',
 'ND-0153',
 '1984.11.08',
 '1868.05.13',
 '1986.07.26',
 '2016.06.11',
 '1919.00.00',
 '2011.09.24.a',
 '2013.07.17.R',
 '2011.10.01',
 '1996.02.10.a',
 '2006.08.29.b',
 '1937.11.11',
 '2003.01.17',
 '1962.01.02',
 '1946.04.00',
 '1943.03.21',
 '1934.01.08.R',
 '1996.10.00',
 '1992.01.29.b',
 '2001.04.12.c',
 '1880.01.22',
 'ND.0087',
 '1963.07.11',
 '2009.08.10',
 '1986.08.10',
 '2006.10.00.b',
 '1894.09.06.R',
 '1926.04.22',
 '2010.11.15',
 '1959.09.10.R',
 '1962.01.08',
 '1903.10.04',
 '1972.10.21',
 '2007.01.07',
 '1982.07.01',
 '1995.00.00.b',
 '1956.05.07',
 '1960.10.00.c',
 '1961.10.27',
 '1995.08.26.a',
 '1937.08.02',
 '2017.07.14.b',
 '2011.04.23',
 '2004.06.26.a',
 '1860.03.11',
 '2015.10.28.a',
 '1993.08.19.R',
 '2008.09.01',
 '1989.12.19',
 '2002.06.13.R1',
 '2008.09.07',
 '1997.08.30',
 '1990.10.20',
 '2004.01.21.a',
 '2003.04.26',
 '1990.08.19.b',
 '2017.11.13.R',
 '1919.03.16',
 '1987.00.00.b',
 '1983.05.21',
 '1999.09.04.b',
 '1932.10.31',
 '1996.01.16',
 '1994.00.00.a',
 'ND-0108',
 '2001.04.02.b',
 '1959.11.15',
 '2014.08.27.b',
 '2013.06.15',
 '2010.05.18.c',
 '1965.06.19',
 '1948.09.22',
 '1962.12.00',
 '1963.09.22',
 '2011.08.16.b',
 '1983.07.25.b',
 '2003.09.17',
 '1989.06.17',
 '2014.10.03.b',
 '1997.10.04',
 '2016.07.16.b',
 '1942.07.06',
 '1963.12.26.a',
 '1964.01.18',
 '1959.10.07',
 '1993.11.28',
 '1970.10.00',
 '2007.06.17',
 '1721.06.00',
 '2017.10.22',
 '2012.07.19',
 '1902.07.15',
 '1967.03.09',
 '1942.03.08',
 '1988.06.16',
 '1995.07.28.c',
 '1986.07.00.a',
 '1852.07.28',
 '2015.06.14.b',
 '2011.08.28.a',
 '1961.01.05',
 '1977.04.26',
 '1954.11.20',
 '1879.07.03',
 '1895.02.23.R',
 '1988.10.22',
 '1976.01.02',
 '1963.05.14',
 '1986.07.09',
 '1940.07.13.b',
 '2007.07.28',
 '1917.12.15',
 '1994.08.22',
 '1890.10.25.R',
 '1977.12.19.a',
 '1950.00.00.k',
 '1961.03.12',
 '2011.05.30',
 '1902.01.19.R',
 '2016.11.28',
 '2003.09.00',
 '2013.12.02',
 '1914.02.03',
 '2013.08.17',
 '2014.00.00',
 '1930.09.26.R',
 '1948.00.00.b',
 '2018.06.04',
 '2000.09.08.a',
 '1932.08.30.b',
 '1975.04.25',
 '2011.06.24',
 '1964.02.08',
 '1961.01.01',
 '2015.10.05.a',
 '1962.07.07',
 '1996.07.26',
 '1960.09.22',
 '1953.03.00.a',
 'ND.0086',
 '2015.06.26.c',
 '1961.07.00.b',
 '1875.00.00',
 '2018.04.15.c',
 '1975.00.00.b',
 '2013.03.16.b',
 '1897.03.15.b.R',
 '2014.08.27.a',
 '1984.02.17',
 '1956.03.11',
 '1899.12.18',
 '1968.10.10',
 '2014.11.08',
 '1930.06.04',
 '1922.01.28.R',
 '1973.11.03',
 '1934.08.05',
 '2007.08.22',
 '1915.02.06',
 '1988.09.28',
 '1999.12.02',
 '1957.02.02',
 '1967.09.07.b',
 '2018.01.12',
 '2004.03.28',
 '2008.08.18',
 ...}

In [397]:
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.c', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.R', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.b', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.a', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.f', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.e', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.h', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.R.b', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.R.a', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.d', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.k', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].fillna('UNKNOWN')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('.i', '')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace('xx', 'UNKNOWN')
sharksdf['CaseNumber'] = sharksdf['CaseNumber'].str.replace(' g', '')

# He limpiado a piñón la mayoría de las filas que contenían errores

In [398]:
set(sharksdf['CaseNumber'])

{'1983.08.15',
 '1968.12.09',
 '1962.11.29',
 '2003.06.24',
 '2006.10.10',
 '2000.12.11',
 '2000.10.14',
 '2012.09.02',
 '2000.07.16',
 '1953.08.00',
 '2009.09.02',
 '1975.07.05',
 '2014.03.21',
 '2007.10.06',
 '1926.04.07',
 '1861.03.00',
 '2006.02.23',
 '2010.12.17',
 '1963.12.08',
 '2003.09.19',
 '2008.07.19',
 '1998.07.06',
 '1957.09.02',
 '2009.07.04',
 '2005.10.03',
 '1888.02.00',
 '1882.01.23',
 '1883.09.14',
 '1972.03.16',
 '1900.10.27',
 '1992.05.00',
 '2006.08.27',
 '1988.10.06',
 '2017.07.26',
 '1959.01.12',
 '1928.11.15',
 '1916.07.06',
 '1946.12.28',
 '1986.04.00',
 '1998.07.26',
 '1886.02.13',
 '1981.09.03',
 '1907.10.14',
 '2009.05.25',
 '1996.09.01',
 '1980.07.00',
 '2002.01.04',
 '2012.01.18',
 'ND.0015',
 '2002.12.21',
 '2008.12.06',
 '1916.03.19',
 '1966.08.28',
 '1957.11.04',
 '1989.07.07',
 '1963.09.26',
 '1939.07.16',
 '1943.07.00',
 '2005.07.22',
 '1977.03.13',
 '1997.08.04',
 '2004.01.12',
 '1978.11.26',
 '1993.01.04',
 '1947.03.12',
 '2000.03.30',
 '1997.06.02',
 '1975.03.13',
 '2004.12.16',
 '1993.06.00',
 '1941.11.24',
 '1929.03.04',
 '1839.04.14',
 '1826.12.00',
 '1974.08.23',
 '1947.04.20',
 '1972.02.20',
 '1958.04.00',
 '1964.07.10',
 '2008.06.01',
 '2007.09.08',
 '1956.09.00',
 'ND.0055',
 '2017.10.31',
 '2011.02.28',
 '1905.04.06',
 '1991.02.12',
 '2011.02.23',
 '1949.08.17',
 '2004.01.25',
 '1993.03.27',
 '1937.03.09',
 '1800.00.00',
 '1961.00.00',
 '1999.08.26',
 '1860.04.00',
 '1944.09.00',
 '2005.12.24',
 '2004.09.08',
 '2013.06.14',
 '1936.07.12',
 '1882.09.00',
 '1935.08.24',
 '2003.04.21',
 '1863.00.004',
 '1973.09.10',
 '1960.06.24',
 '1956.01.16',
 '1901.01.30',
 '1933.02.15',
 '1988.10.10',
 '1776.00.00',
 '1915.11.08',
 '1900.11.14',
 '2005.07.17',
 '2007.08.20',
 '1978.06.21',
 '1949.08.16',
 '1961.09.24',
 '1874.07.15',
 '1989.01.26',
 '1953.07.09',
 '1902.11.10',
 '1999.04.22',
 '1938.12.27',
 '2016.02.22',
 '2001.09.15',
 '1998.10.24',
 '1998.04.00',
 '1930.05.11',
 '1985.08.17',
 '2001.04.12',
 '1927.10.25',
 '2018.05.00',
 '1873.06.09',
 '2000.08.11',
 '1923.02.00',
 '2016.08.27',
 '2015.04.25',
 '1941.00.00',
 '2000.11.21',
 '1934.01.07',
 '2009.01.18',
 '2016.01.28',
 '1967.11.15',
 '1863.00.00',
 '1981.01.30',
 '1928.04.14',
 '2004.11.00',
 '1991.06.07',
 '2014.08.09',
 '2009.01.26',
 '1930.07.11',
 '1892.12.15',
 '1917.09.21',
 '1907.12.21',
 '1958.12.28',
 '1902.08.08',
 '2005.07.13',
 '1961.12.18',
 '1963.03.30',
 '2007.09.13',
 '1957.12.20',
 '1908.09.05',
 '1956.02.10',
 '2015.09.20',
 '1971.10.14',
 '1951.06.00',
 '1963.11.28',
 '1946.01.07',
 '1904.08.00',
 '2002.07.04',
 '1908.01.08',
 '1936.02.04',
 '2009.06.14',
 '1971.04.05',
 '1946.08.24',
 '1975.01.19',
 '2002.09.27',
 '1929.00.00',
 '1852.05.24',
 '2014.11.16',
 '1948.07.01',
 '1929.06.23',
 '1994.09.05',
 '1941.12.03',
 '1907.04.20',
 '1953.07.11',
 'ND.0022',
 '1975.07.19',
 '1879.03.10',
 '1908.08.28',
 '1960.06.05',
 '1995.08.27',
 '1961.04.17',
 '1950.06.06',
 '1926.01.26',
 '1961.03.14',
 '0000.0725',
 '2001.08.12',
 '2006.02.13',
 '1936.01.05',
 '1913.07.10',
 '1913.01.00',
 '2009.11.24',
 '2003.11.22',
 '1964.11.29',
 '1979.05.05',
 '1899.10.28',
 '1938.06.08',
 '1882.12.03',
 '1994.12.01',
 '1982.06.25',
 '1896.06.21',
 '2013.11.10',
 '1962.02.23',
 '1894.10.06',
 '1936.12.30',
 '1947.10.10',
 '1913.11.27',
 '1984.02.18',
 '1988.07.17',
 '2016.01.05',
 '2002.10.11',
 '2018.04.22',
 '2015.03.18',
 '2016.12.19',
 'ND-0122',
 'ND-0135',
 '1922.05.24',
 '2015.02.15',
 '2008.06.26',
 '1994.10.17',
 '1934.09.08',
 '1999.00.00',
 '1994.06.24',
 '2005.03.25',
 '1966.12.26',
 '1842.07.13',
 '1940.12.20',
 '2013.03.12',
 '1934.07.11',
 '1908.06.02',
 'ND.0013',
 '2001.07.06',
 '2010.01.27',
 '1867.08.22',
 '2005.04.25',
 'ND-0123',
 '1949.03.00',
 '2009.06.21',
 '1985.12.10',
 '2014.12.15',
 '2016.09.15',
 '1992.01.00',
 '2015.05.02',
 '1902.01.19',
 '1966.09.18',
 '2009.11.25',
 '2006.05.24',
 '1964.10.25',
 '1986.02.07',
 '2007.05.17',
 '1959.10.02',
 '2017.07.09',
 '1992.09.10',
 '2016.03.28',
 '1910.06.08',
 '1929.08.05',
 '1999.08.16',
 '1811.03.01',
 '1964.11.13',
 '1982.01.29',
 '2000.11.04',
 '2017.07.31',
 '1955.07.07',
 '1964.02.01',
 '1988.04.15',
 '1896.11.01',
 '1922.01.04',
 '2007.02.00',
 '2000.03.03',
 '1999.09.29',
 '1962.12.30',
 '1933.08.26',
 '1555.00.00',
 '1892.06.24',
 '1932.11.09',
 'ND.0039',
 '1974.01.07',
 '1959.08.20',
 '1987.08.15',
 '1999.08.21',
 '1941.08.05',
 '1923.05.23',
 '2000.11.10',
 '2018.04.03',
 '2004.03.29',
 '2005.07.23',
 '1959.03.29',
 '2017.06.11',
 '2000.09.00',
 'ND.0012',
 '1990.04.09',
 '1992.08.29',
 '1968.12.00',
 '1953.09.02',
 '1881.08.12',
 '1873.07.28',
 '2002.12.01',
 '2016.02.10',
 '1989.07.14',
 '1970.00.00',
 '2009.04.03',
 '1943.06.16',
 '1930.09.12',
 '1940.02.20',
 '1878.11.17',
 '2015.10.07',
 '1858.03.14',
 '2005.09.22',
 '1994.04.03',
 '1988.07.00',
 '1983.12.22',
 '1897.12.04',
 '2009.03.21',
 '1964.06.28',
 '1871.12.11',
 '2008.04.20',
 '2005.05.14',
 '1977.08.31',
 '2013.10.08',
 '2016.06.21',
 '1942.11.00',
 '1700.00.00',
 '2001.09.07',
 '1959.04.09.',
 '1907.08.12.',
 '1962.05.12',
 '2012.04.11',
 '1926.07.23',
 '1997.07.12',
 '1994.00.00',
 '1898.09.07',
 '2011.12.31',
 '1927.04.10',
 '1931.02.10',
 '1987.05.25',
 '2007.07.00',
 '1999.05.29',
 '2017.11.25',
 '2009.07.24',
 '2016.04.08',
 '1991.07.00',
 '2016.12.11',
 '2017.04.06',
 '1969.11.05',
 '2014.07.05',
 '1932.07.02',
 '1907.10.16',
 '2009.02.22',
 '1990.07.22',
 '1984.08.07',
 '1967.08.26',
 '1967.10.17',
 '1895.07.16',
 '1921.08.22',
 '2005.01.08',
 '1992.08.21',
 '1961.03.30',
 '1948.09.15',
 'ND.0036',
 '1914.00.00',
 '1904.11.02',
 '1911.10.25',
 '1994.11.25',
 '1999.09.10',
 '1895.08.11',
 '1958.04.03',
 '1998.03.31',
 '2013.03.03',
 '2016.11.14',
 '2007.10.07',
 '1870.05.18',
 '1999.11.00',
 '2006.12.02',
 'ND.0048',
 '1937.01.27',
 '1902.08.24',
 '2005.08.06',
 '1965.07.30',
 '1916.04.25',
 '1962.02.15',
 '2012.05.29',
 '1892.04.21',
 '1966.06.11',
 '1960.03.31',
 '1897.09.17',
 '2017.08.05',
 '1917.11.00',
 '1956.03.00',
 '1960.00.00.j',
 '1887.02.08',
 '2014.07.09',
 '1994.03.01',
 '1981.10.01',
 '2015.06.17',
 '2009.10.14',
 '2004.04.22',
 '2006.06.26',
 '2007.09.20',
 '1942.10.12',
 '2002.03.15',
 '1965.04.29',
 '1985.07.00',
 '2012.12.05',
 '1967.03.12',
 '1999.09.24',
 '1989.12.02',
 '1994.05.24',
 '2015.10.09',
 '1787.07.05',
 '1967.11.04',
 '2009.03.16',
 '1955.08.04',
 '2012.07.31',
 '2000.06.09',
 '1974.06.20',
 '2012.10.07',
 '1922.01.15',
 '2005.06.27',
 '2000.08.13',
 '1981.08.29',
 '1879.00.00',
 '1965.03.23',
 '1987.04.01',
 '1935.05.19',
 '2012.07.06',
 '1909.03.06',
 '2003.12.13',
 '1985.08.22',
 '1929.01.05',
 '1864.01.27',
 '1990.09.15',
 'ND.0088',
 '2001.08.18',
 '2003.06.08',
 '1956.07.28',
 '1961.09.02',
 '2015.01.17',
 '1986.02.18',
 '1965.08.30',
 '2002.05.10',
 '1962.04.05',
 '1938.03.08',
 'ND-0109',
 '1907.02.03',
 '2002.06.11',
 '2010.07.23',
 '1988.03.31',
 '1961.04.08',
 '1812.07.00',
 '2010.09.06',
 '1996.05.18',
 '1968.11.06',
 '2011.05.25',
 '1977.12.19',
 '1867.00.00',
 '1999.11.23',
 '1904.09.00',
 '2014.10.14',
 '1978.07.27',
 '2005.10.25',
 '1986.11.19',
 '2013.01.05',
 '2005.10.01',
 '2000.12.24',
 '2009.09.15',
 '2010.10.22',
 '2005.08.21',
 '2012.08.26',
 '1964.05.08',
 '2011.02.19',
 '2010.06.06',
 '2007.05.16',
 '2013.07.02',
 '1964.12.25',
 '2011.01.28',
 '1992.06.28',
 '1935.08.13',
 '1956.10.27',
 '1984.09.17',
 '1981.02.19',
 '1990.01.12',
 '1808.06.01',
 '2012.10.02',
 '1993.06.11',
 '1965.01.25',
 '1899.05.28',
 '1982.08.00',
 '2008.06.21',
 '1947.04.00',
 '1943.03.14',
 '1951.11.23',
 '2001.11.07',
 '1959.11.12',
 '2015.12.23',
 '1976.09.19',
 '1943.08.00',
 '1961.06.18',
 '1929.12.03',
 '2014.08.08',
 '1930.08.16',
 '1999.11.13',
 '1937.09.01',
 '1958.02.01',
 '2007.08.15',
 '2011.03.10',
 '1989.06.00',
 '2017.08.18',
 '2014.07.16',
 '1962.01.11',
 '1982.07.24',
 '1810.09.15',
 '1876.00.00',
 '1909.11.14',
 '1985.03.16',
 '1913.12.30',
 '2010.12.05',
 '2010.07.16',
 '1928.04.04',
 '1981.08.07',
 '1958.07.27',
 '1965.10.10',
 '2011.08.31',
 '1969.11.30',
 '1966.05.20',
 '1984.03.17',
 '1949.01.23',
 '1909.00.00',
 '1972.00.00',
 '2010.07.04',
 '1980.01.13',
 '1997.10.28',
 '1990.05.06',
 '2016.09.01',
 '1954.01.30',
 '2018.06.03',
 '1896.09.11',
 'ND.0042',
 '2000.00.00',
 '2015.12.25',
 '1965.00.00.g',
 '1945.05.08',
 '1960.00.00',
 '2017.07.23',
 '1981.02.00',
 '1869.04.10',
 '2013.05.23',
 '2014.09.00',
 '2014.04.03',
 '1959.06.13',
 '2011.09.04',
 '1979.08.28',
 '1924.07.14',
 '1938.01.14',
 '1965.04.04',
 '1991.06.29',
 '1891.12.31',
 '2001.04.08',
 '1975.07.30',
 '1952.01.23',
 '1947.11.08',
 '1939.02.26',
 '1779.00.00',
 '2003.04.18',
 '2015.07-10',
 '2015.04.29',
 '1973.09.29',
 '1960.12.27',
 '1964.03.00',
 '1999.12.31',
 '1959.08.02',
 '2005.05.15',
 '1945.09.16',
 '1952.12.24',
 '1966.09.00',
 '1926.09.06',
 '1929.12.21',
 '1935.05.12',
 '2017.07.14',
 '1983.07.12',
 '1929.07.17',
 '2001.10.02',
 '2011.10.05',
 '2002.08.05',
 '2012.02.20',
 '2008.07.26',
 'ND.0020',
 'UNKNOWN',
 '1944.05.04',
 '1901.07.17',
 '2007.07.22',
 '2015.06.05',
 '2013.01.21',
 '1913.05.21',
 '1978.11.23',
 '1862.07.25',
 '1982.09.04',
 '2008.05.24',
 '2008.09.09',
 '1931.09.21',
 '1932.09.26',
 '2006.08.13',
 '1965.04.25',
 '1953.09.27',
 '1945.00.00',
 '1916.07.12',
 '2014.10.18',
 '2003.09.13',
 '2012.05.20',
 '1907.07.04',
 '2017.07.07',
 '2015.09.17',
 '1980.04.25',
 '1937.06.28',
 '1905.07.29',
 '1958.10.05',
 '1937.03.26',
 '1983.05.31',
 '1907.09.18',
 '1999.09.05',
 '2014.05.10',
 '2005.06.04',
 '1982.05.00',
 '2013.06.06',
 '1990.10.12',
 '1973.01.21',
 '1888.08.14',
 '1785.09.26',
 '1981.12.19',
 '1988.06.01',
 '1952.08.03',
 '2006.05.28',
 '1950.05.24',
 '2016.04.19',
 '1979.10.22',
 '1916.06.24',
 '1957.04.22',
 '1830.04.22',
 '2012.06.03',
 '2017.03.18',
 '1975.02.23',
 '1963.11.14',
 '1952.12.07',
 '1935.03.02',
 '1943.00.00',
 '1894.08.01',
 '1999.08.23',
 '2010.02.16',
 '1986.10.01',
 '2003.05.14',
 '2002.11.17',
 '1998.08.26',
 '2012.12.31',
 '2008.02.24',
 '2001.08.22',
 '1742.12.17',
 '1882.05.14',
 '1897.09.06',
 '1893.10.20',
 'ND-0124',
 '1840.07.22',
 '2008.10.12',
 '2011.05.07',
 '1976.10.18',
 '2004.08.15',
 '1973.12.25',
 '1877.12.15',
 '2002.04.18',
 '2012.07.30',
 '1817.06.24',
 '1951.03.15',
 '2005.09.24',
 '1971.04.00',
 '1954.07.03',
 'ND-0153',
 '1984.11.08',
 '1868.05.13',
 '1986.07.26',
 '2016.06.11',
 '1919.00.00',
 '2011.10.01',
 '1937.11.11',
 '1898.12.28',
 '2003.01.17',
 '1962.01.02',
 '1946.04.00',
 '1943.03.21',
 '1996.10.00',
 '1962.06.11',
 '1980.08.22',
 '1880.01.22',
 '2004.01.15',
 'ND.0087',
 '1963.07.11',
 '2009.08.10',
 '1986.08.10',
 '2003.11.12',
 '1926.04.22',
 '2010.11.15',
 '1962.01.08',
 '1903.10.04',
 '1972.10.21',
 '2007.01.07',
 '1982.07.01',
 '1956.05.07',
 '1961.10.27',
 '1937.08.02',
 '2011.04.23',
 '1860.03.11',
 '1960.06.27',
 '2008.09.01',
 '1989.12.19',
 '2008.09.07',
 '1997.08.30',
 '1990.10.20',
 '2003.04.26',
 '2017.11.30',
 '1909.06.26',
 '1919.03.16',
 '1801.12.18',
 '2006.07.31',
 '1983.05.21',
 '1929.12.09',
 '1954.07.01',
 '1932.10.31',
 '1996.01.16',
 'ND-0108',
 '1959.11.15',
 '2013.06.15',
 '1965.06.19',
 '1948.09.22',
 '1962.12.00',
 '1950.02.18',
 '1963.09.22',
 '2003.09.17',
 '1989.06.17',
 '1989.08.22',
 '2017.08.26',
 '1997.10.04',
 '1942.07.06',
 '2013.09.21',
 '1964.01.18',
 '1972.01.01',
 '1959.10.07',
 '1993.11.28',
 '1970.10.00',
 '2007.06.17',
 '1721.06.00',
 '2017.10.22',
 '2012.07.19',
 '1902.07.15',
 '1967.03.09',
 '1866.04.24',
 '2014.06.27',
 '1988.06.16',
 '1942.03.08',
 '1852.07.28',
 '2016.03.03',
 '1961.01.05',
 '1977.04.26',
 '1988.09.13',
 '1954.11.20',
 '1879.07.03',
 '1988.10.22',
 '1879.08.30',
 '1976.01.02',
 '1963.05.14',
 '1986.07.09',
 '2007.07.28',
 '1917.12.15',
 '1994.08.22',
 '1961.03.12',
 '2011.05.30',
 '2016.11.28',
 '2003.09.00',
 '2013.12.02',
 '1914.02.03',
 '2013.08.17',
 '2014.00.00',
 '2018.06.04',
 '1963.00.00',
 '1975.04.25',
 '1994.09.11',
 '2011.06.24',
 '1964.02.08',
 '1961.01.01',
 '1962.07.07',
 '1996.07.26',
 '1960.09.22',
 'ND.0086',
 '1875.00.00',
 '1984.02.17',
 '1956.03.11',
 '1899.12.18',
 '1968.10.10',
 '2014.11.08',
 '1930.06.04',
 '1973.11.03',
 '1950.04.09',
 '2007.08.22',
 '1934.08.05',
 '1915.02.06',
 '1988.09.28',
 '1999.12.02',
 '1957.02.02',
 '2018.01.12',
 '2004.03.28',
 '2008.08.18',
 '2012.04.03',
 '1931.01.14',
 '1936.07.07',
 '1985.01.27',
 '1995.06.16',
 '1966.01.25',
 '1963.11.25',
 '2010.12.26',
 '1864.10.02',
 '1995.09.16',
 '1927.07.03',
 '1928.02.20',
 '1950.06.25',
 '1909.12.15',
 '1923.11.23',
 '1829.07.03',
 '2017.06.10',
 '1960.01.01',
 '1953.09.20',
 '1944.10.23',
 '1934.03.12',
 '1936.02.20.',
 '2008.07.27',
 '1940.06.30',
 '2005.06.05',
 '2015.04.11',
 '1995.08.21',
 '1842.00.00',
 '1934.02.24',
 '2013.09.14',
 '1964.08.21',
 '1888.07.20',
 '1920.02.03',
 '2011.09.11',
 '1934.10.09',
 '1896.12.20',
 '1979.09.14',
 '2005.11.20',
 '1914.05.31',
 '2014.10.31',
 '2012.01.02',
 '2010.08.29',
 '2014.08.16',
 'ND.0043',
 '1977.03.17',
 '2009.05.16',
 '1932.08.30',
 '2016.06.24',
 '1995.07.00',
 '1976.06.01',
 '2012.08.28',
 '1998.05.29',
 '1966.01.05',
 '2015.06.01',
 '1936.12.12',
 '1918.00.00',
 '2006.01.07',
 'ND.0032',
 '1989.03.09',
 '1987.08.20',
 '1917.05.05',
 '2006.09.18',
 '2002.05.21',
 '2014.06.09',
 '1840.04.09',
 '1920.07.14',
 '1901.09.23',
 '2008.04.09',
 '1958.02.19',
 '1960.09.02',
 '2015.06.19',
 '1952.07.27',
 '1961.12.19',
 '1962.06.03',
 '1958.08.01',
 '1936.03.30',
 '1915.08.03',
 '1953.03.00',
 '1909.04.09',
 '1951.07.19',
 '1996.07.14',
 '1960.04.01',
 '1959.08.25',
 '2013.08.14',
 '1959.08.10',
 '2009.07.05',
 '1974.03.21',
 '1964.01.23',
 '2012.03.06',
 '1967.09.20',
 '1939.05.03',
 '1994.12.11',
 '2017.07.02',
 '2011.06.30',
 '2006.07.28',
 '1936.06.06',
 '2012.12.25',
 '1966.08.00',
 'ND.0078',
 '1899.08.08',
 '1982.00.00',
 '1999.04.11',
 '1956.01.05',
 '1883.10.20',
 '1972.04.16',
 '1931.03.15',
 '1950.10.08',
 '1964.08.00',
 '1878.03.30',
 '1964.01.22',
 '1872.11.30',
 '1958.11.05',
 '2000.07.25',
 '2005.02.13',
 '2003.12.08',
 '2000.08.15',
 '2012.10.23',
 '2008.06.28',
 '2004.12.26',
 '2004.00.00',
 '2009.07.30',
 '1995.12.18',
 '1931.09.02',
 '1942.06.00',
 '1987.05.08',
 '1901.06.29',
 '1885.07.26',
 '1991.11.26',
 '1879.03.19',
 '1963.01.00',
 '2017.08.10',
 '1960.12.27.',
 '1975.03.09',
 '1959.04.27',
 '2015.12.19',
 '2005.12.11',
 '1944.04.00',
 '1877.08.28',
 '2007.05.00',
 '2015.04.13',
 '1851.12.15',
 '2014.03.12',
 '1906.10.10',
 '1962.01.10',
 '1992.05.31',
 '1937.02.02',
 '2009.01.13',
 '1941.03.09',
 '1935.12.23',
 '1962.09.30',
 '1972.03.21',
 '1913.03.27',
 '1986.10.03',
 '1956.06.22',
 '1963.02.06',
 '2011.06.26',
 '1957.07.09',
 '2006.01.11',
 '2004.07.27',
 '2017.04.17',
 '2011.05.10',
 '2014.03.22',
 '1933.11.18',
 '2009.12.18',
 '1966.10.29',
 '1937.09.26',
 '2014.04.24',
 '2008.07.30',
 '1957.01.05',
 '1944.01.16',
 '1986.12.11',
 '1921.07.21',
 '1959.02.02',
 '1993.06.01',
 '1885.11.26',
 '2014.07.14',
 '2001.08.19',
 '2005.08.12',
 '1922.02.04',
 '2000.07.10',
 ...}

In [399]:
sharksdf['CaseNumber'].equals(sharksdf['Date'])

False

In [400]:
lst=[]

for x in sharksdf.CaseNumber:
    x = str(x)
    lst.append("-".join(x.split(".")[:3]))   #sustituyo los "." por "-"
lst

['2018-06-25',
 '2018-06-18',
 '2018-06-09',
 '2018-06-08',
 '2018-06-04',
 '2018-06-03',
 '2018-06-03',
 '2018-05-27',
 '2018-05-26',
 '2018-05-26',
 '2018-05-24',
 '2018-05-21',
 '2018-05-13',
 '2018-05-13',
 '2018-05-00',
 '2018-05-12',
 '2018-05-09',
 '2018-04-30',
 '2018-04-28',
 '2018-04-28',
 '2018-04-25',
 '2018-04-25',
 '2018-04-24',
 '2018-04-23',
 '2018-04-22',
 '2018-04-19',
 '2018-04-15',
 '2018-04-15',
 '2018-04-15',
 '2018-04-15',
 '2018-04-14',
 '2018-04-10',
 '2018-04-09',
 '2018-04-05',
 '2018-04-03',
 '2018-03-31',
 '2018-03-14',
 '2018-03-09',
 '2018-03-09',
 '2018-02-24',
 '2018-02-23',
 '2018-02-17',
 '2018-02-15',
 '2018-02-14',
 '2018-02-11',
 '2018-02-03',
 '2018-02-01',
 '2018-01-28',
 '2018-01-21',
 '2018-01-14',
 '2018-01-13',
 '2018-01-12',
 '2018-01-05',
 '2017-12-31',
 '2017-12-30',
 '2017-12-21',
 '2017-12-09',
 '2017-11-30',
 '2017-11-30',
 '2017-11-25',
 '2017-11-24',
 '2017-11-18',
 '2017-11-13',
 '2017-11-13',
 '2017-11-04',
 '2017-10-31',
 '2017-10-28',
 '2017-10-26',
 '2017-10-23',
 '2017-10-23',
 '2017-10-23',
 '2017-10-22',
 '2017-10-21',
 '2017-10-18',
 '2017-10-09',
 '2017-10-05',
 '2017-10-01',
 '2017-09-25',
 '2017-09-25',
 '2017-09-24',
 '2017-09-24',
 '2017-09-20',
 '2017-09-16',
 '2017-09-16',
 '2017-09-15',
 '2017-09-15',
 '2017-09-14',
 '2017-09-13',
 '2017-09-10',
 '2017-09-10',
 '2017-09-06',
 '2017-09-03',
 '2017-09-03',
 '2017-09-02',
 '2017-09-02',
 '2017-09-02',
 '2017-08-29',
 '2017-08-27',
 '2017-08-26',
 '2017-08-26',
 '2017-08-23',
 '2017-08-18',
 '2017-08-10',
 '2017-08-05',
 '2017-08-03',
 '2017-08-01',
 '2017-07-31',
 '2017-07-29',
 '2017-07-29',
 '2017-07-27',
 '2017-07-26',
 '2017-07-24',
 '2017-07-23',
 '2017-07-23',
 '2017-07-22',
 '2017-07-20',
 '2017-07-20',
 '2017-07-20',
 '2017-07-14',
 '2017-07-14',
 '2017-07-11',
 '2017-07-09',
 '2017-07-07',
 '2017-07-07',
 '2017-07-02',
 '2017-06-29',
 '2017-06-21',
 '2017-06-19',
 '2017-06-18',
 '2017-06-18',
 '2017-06-17',
 '2017-06-05',
 '2017-06-14',
 '2017-06-11',
 '2017-06-10',
 '2017-06-10',
 '2017-06-07',
 '2017-06-04',
 '2017-06-02',
 '2017-05-30',
 '2017-05-28',
 '2017-05-27',
 '2017-05-12',
 '2017-05-06',
 '2017-05-06',
 '2017-05-03',
 '2017-04-29',
 '2017-04-29',
 '2017-04-29',
 '2017-04-29',
 '2017-04-27',
 '2017-04-26',
 '2017-04-22',
 '2017-04-20',
 '2017-04-17',
 '2017-04-17',
 '2017-04-14',
 '2017-04-13',
 '2017-04-12',
 '2017-04-12',
 '2017-04-11',
 '2017-04-10',
 '2017-04-10',
 '2017-04-06',
 '2017-04-05',
 '2017-04-02',
 '2017-04-02',
 '2017-03-27',
 '2017-03-19',
 '2017-03-18',
 '2017-03-11',
 '2017-03-09',
 '2017-02-25',
 '2017-02-24',
 '2017-02-21',
 '2017-02-17',
 '2017-02-11',
 '2017-02-06',
 '2017-02-06',
 '2017-02-01',
 '2017-02-01',
 '2017-01-24',
 '2017-01-22',
 '2017-01-21',
 '2017-01-13',
 '2017-01-13',
 '2017-01-09',
 '2017-01-08',
 '2017-01-05',
 '2017-01-03',
 '2016-12-27',
 '2016-12-24',
 '2016-12-19',
 '2016-12-14',
 '2016-12-11',
 '2016-12-11',
 '2016-12-06',
 '2016-12-01',
 '2016-11-28',
 '2016-11-14',
 '2016-10-30',
 '2016-10-29',
 '2016-10-24',
 '2016-10-21',
 '2016-10-15',
 '2016-10-14',
 '2016-10-13',
 '2016-10-12',
 '2016-10-10',
 '2016-10-02',
 '2016-10-01',
 '2016-09-26',
 '2016-09-18',
 '2016-09-18',
 '2016-09-18',
 '2016-09-17',
 '2016-09-17',
 '2016-09-15',
 '2016-09-15',
 '2016-09-11',
 '2016-09-07',
 '2016-09-06',
 '2016-09-05',
 '2016-09-05',
 '2016-09-04',
 '2016-09-01',
 '2016-09-00',
 '2016-08-29',
 '2016-08-29',
 '2016-08-27',
 '2016-08-25',
 '2016-08-07',
 '2016-08-06',
 '2016-08-04',
 '2016-07-29',
 '2016-07-28',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-24',
 '2016-07-23',
 '2016-07-23',
 '2016-07-20',
 '2016-07-17',
 '2016-07-16',
 '2016-07-16',
 '2016-07-15',
 '2016-07-15',
 '2016-07-14',
 '2016-07-08',
 '2016-07-08',
 '2016-07-07',
 '2016-07-07',
 '2016-07-06',
 '2016-07-04',
 '2016-06-27',
 '2016-06-25',
 '2016-06-24',
 '2016-06-23',
 '2016-06-21',
 '2016-06-21',
 '2016-06-15',
 '2016-06-15',
 '2016-06-14',
 '2016-06-11',
 '2016-06-07',
 '2016-06-05',
 '2016-06-05',
 '2016-06-04',
 '2016-06-02',
 '2016-06-02',
 '2016-05-31',
 '2016-05-29',
 '2016-05-29',
 '2016-05-22',
 '2016-05-21',
 '2016-05-21',
 '2016-05-18',
 '2016-05-15',
 '2016-05-03',
 '2016-05-02',
 '2016-04-25',
 '2016-04-23',
 '2016-04-22',
 '2016-04-19',
 '2016-04-18',
 '2016-04-18',
 '2016-04-13',
 '2016-04-09',
 '2016-04-08',
 '2016-04-07',
 '2016-04-07',
 '2016-03-31',
 '2016-03-30',
 '2016-03-28',
 '2016-03-28',
 '2016-03-26',
 '2016-03-13',
 '2016-03-11',
 '2016-03-10',
 '2016-03-04',
 '2016-03-03',
 '2016-03-02',
 '2016-02-22',
 '2016-02-19',
 '2016-02-12',
 '2016-02-10',
 '2016-02-10',
 '2016-02-05',
 '2016-02-04',
 '2016-02-02',
 '2016-01-29',
 '2016-01-28',
 '2016-01-25',
 '2016-01-24',
 '2016-01-24',
 '2016-01-23',
 '2016-01-11',
 '2016-01-05',
 '2016-01-02',
 '2015-12-26',
 '2015-12-25',
 '2015-12-22',
 '2015-12-21',
 '2015-12-21',
 '2015-12-19',
 '2015-12-13',
 '2015-12-11',
 '2015-12-08',
 '2015-11-20',
 '2015-11-16',
 '2015-11-15',
 '2015-11-15',
 '2015-11-10',
 '2015-12-23',
 '2015-11-03',
 '2015-11-01',
 '2015-11-01',
 '2015-10-30',
 '2015-10-28',
 '2015-10-25',
 '2015-10-21',
 '2015-10-19',
 '2015-10-17',
 '2015-10-17',
 '2015-10-17',
 '2015-10-13',
 '2015-10-09',
 '2015-10-09',
 '2015-10-08',
 '2015-10-07',
 '2015-10-05',
 '2015-10-05',
 '2015-10-04',
 '2015-09-29',
 '2015-09-26',
 '2015-09-24',
 '2015-09-20',
 '2015-09-20',
 '2015-09-20',
 '2015-09-20',
 '2015-09-19',
 '2015-09-18',
 '2015-09-17',
 '2015-09-08',
 '2015-09-06',
 '2015-09-05',
 '2015-09-04',
 '2015-09-03',
 '2015-09-01',
 '2015-09-00',
 '2015-08-29',
 '2015-08-29',
 '2015-08-22',
 '2015-08-22',
 '2015-08-20',
 '2015-08-19',
 '2015-08-18',
 '2015-08-18',
 '2015-08-10',
 '2015-07-31',
 '2015-07-28',
 '2015-07-27',
 '2015-07-26',
 '2015-07-26',
 '2015-07-25',
 '2015-07-23',
 '2015-07-23',
 '2015-07-22',
 '2015-07-19',
 '2015-07-10',
 '2015-07-08',
 '2015-07-06',
 '2015-07-04',
 '2015-07-04',
 '2015-07-03',
 '2015-07-02',
 '2015-07-01',
 '2015-06-30',
 '2015-06-30',
 '2015-06-27',
 '2015-06-27',
 '2015-06-26',
 '2015-06-26',
 '2015-06-26',
 '2015-06-25',
 '2015-06-25',
 '2015-06-24',
 '2015-06-24',
 '2015-06-23',
 '2015-06-19',
 '2015-06-17',
 '2015-06-14',
 '2015-06-14',
 '2015-06-13',
 '2015-06-11',
 '2015-06-07',
 '2015-06-05',
 '2015-06-01',
 '2015-05-29',
 '2015-05-29',
 '2015-05-25',
 '2015-05-24',
 '2015-05-20',
 '2015-05-15',
 '2015-05-09',
 '2015-05-07',
 '2015-05-03',
 '2015-05-02',
 '2015-04-29',
 '2015-04-26',
 '2015-04-25',
 '2015-04-24',
 '2015-04-13',
 '2015-04-12',
 '2015-04-11',
 '2015-04-03',
 '2015-03-29',
 '2015-03-31',
 '2015-03-26',
 '2015-03-21',
 '2015-03-18',
 '2015-03-16',
 '2015-03-11',
 '2015-03-10',
 '2015-03-07',
 '2015-02-15',
 '2015-02-14',
 '2015-02-09',
 '2015-02-08',
 '2015-02-05',
 '2015-01-30',
 '2015-01-27',
 '2015-01-24',
 '2015-01-23',
 '2015-01-19',
 '2015-01-19',
 '2015-01-17',
 '2015-01-16',
 '2015-01-08',
 '2015-01-06',
 '2015-01-03',
 '2015-01-01',
 '2014-12-29',
 '2014-12-29',
 '2014-12-28',
 '2014-12-28',
 '2014-12-28',
 '2014-12-28',
 '2014-12-23',
 '2014-12-15',
 '2014-12-03',
 '2014-11-29',
 '2014-11-20',
 '2014-11-19',
 '2014-11-17',
 '2014-11-16',
 '2014-11-13',
 '2014-11-10',
 '2014-11-08',
 '2014-10-31',
 '2014-10-30',
 '2014-10-22',
 '2014-10-20',
 '2014-10-19',
 '2014-10-18',
 '2014-10-17',
 '2014-10-14',
 '2014-10-12',
 '2014-10-11',
 '2014-10-05',
 '2014-10-07',
 '2014-10-05',
 '2014-10-03',
 '2014-10-03',
 '2014-10-02',
 '2014-10-02',
 '2014-09-21',
 '2014-09-13',
 '2014-09-13',
 '2014-09-09',
 '2014-09-06',
 '2014-09-03',
 '2014-09-02',
 '2014-09-00',
 '2014-08-31',
 '2014-08-29',
 '2014-08-29',
 '2014-08-28',
 '2014-08-27',
 '2014-08-27',
 '2014-08-27',
 '2014-08-25',
 '2014-08-24',
 '2014-08-16',
 '2014-08-12',
 '2014-08-10',
 '2014-08-09',
 '2014-08-09',
 '2014-08-08',
 '2014-08-06',
 '2014-08-05',
 '2014-08-02',
 '2014-08-02',
 '2014-08-01',
 '2014-08-00',
 '2014-07-27',
 '2014-07-22',
 '2014-07-21',
 '2014-07-20',
 '2014-07-16',
 '2014-07-14',
 '2014-07-13',
 '2014-07-12',
 '2014-07-09',
 '2014-07-05',
 '2014-07-05',
 '2014-07-03',
 '2014-06-27',
 '2014-06-25',
 '2014-06-18',
 '2014-06-18',
 '2014-06-17',
 '2014-06-09',
 '2014-06-09',
 '2014-06-09',
 '2014-06-08',
 '2014-06-07',
 '2014-06-01',
 '2014-06-01',
 '2014-06-01',
 '2014-05-27',
 '2014-05-23',
 '2014-05-22',
 '2014-05-15',
 '2014-05-14',
 '2014-05-13',
 '2014-05-11',
 '2014-05-10',
 '2014-05-06',
 '2014-05-04',
 '2014-05-01',
 '2014-04-24',
 '2014-04-22',
 '2014-04-15',
 '2014-04-12',
 '2014-04-12',
 '2014-04-04',
 '2014-04-04',
 '2014-04-03',
 '2014-03-29',
 '2014-03-22',
 '2014-03-22',
 '2014-03-21',
 '2014-03-18',
 '2014-03-18',
 '2014-03-18',
 '2014-03-12',
 '2014-03-13',
 '2014-03-02',
 '2014-02-20',
 '2014-02-17',
 '2014-02-08',
 '2014-02-07',
 '2014-02-07',
 '2014-01-26',
 '2014-01-25',
 '2014-01-04',
 '2014-00-00',
 '2014-00-00',
 '2013-12-25',
 '2013-12-16',
 '2013-12-13',
 '2013-12-11',
 '2013-12-10',
 '2013-12-05',
 '2013-12-02',
 '2013-11-30',
 '2013-11-29',
 '2013-11-23',
 '2013-11-22',
 '2013-11-12',
 '2013-11-10',
 '2013-11-07',
 '2013-11-07',
 '2013-10-31',
 '2013-10-28',
 '2013-10-26',
 '2013-10-26',
 '2013-10-24',
 '2013-10-23',
 '2013-10-20',
 '2013-10-19',
 '2013-10-11',
 '2013-10-08',
 '2013-10-05',
 '2013-10-05',
 '2013-09-29',
 '2013-09-29',
 '2013-09-25',
 '2013-09-21',
 '2013-09-21',
 '2013-09-14',
 '2013-09-12',
 '2013-09-08',
 '2013-09-07',
 '2013-09-07',
 '2013-09-02',
 '2013-09-01',
 '2013-09-01',
 '2013-09-01',
 '2013-08-31',
 '2013-08-31',
 '2013-08-29',
 '2013-08-26',
 '2013-08-25',
 '2013-08-25',
 '2013-08-18',
 '2013-08-17',
 '2013-08-14',
 '2013-08-13',
 '2013-08-11',
 '2013-08-08',
 '2013-08-05',
 '2013-07-31',
 '2013-07-30',
 '2013-07-29',
 '2013-07-29',
 '2013-07-29',
 '2013-07-28',
 '2013-07-28',
 '2013-07-22',
 '2013-07-19',
 '2013-07-17',
 '2013-07-15',
 '2013-07-14',
 '2013-07-11',
 '2013-07-09',
 '2013-07-02',
 '2013-06-30',
 '2013-06-27',
 '2013-06-25',
 '2013-06-25',
 '2013-06-25',
 '2013-06-18',
 '2013-06-17',
 '2013-06-16',
 '2013-06-15',
 '2013-06-14',
 '2013-06-06',
 '2013-06-06',
 '2013-05-27',
 '2013-05-27',
 '2013-05-23',
 '2013-05-23',
 '2013-05-14',
 '2013-05-08',
 '2013-05-08',
 '2013-05-04',
 '2013-04-28',
 '2013-04-24',
 '2013-04-21',
 '2013-04-17',
 '2013-04-14',
 '2013-04-13',
 '2013-04-13',
 '2013-04-10',
 '2013-04-04',
 '2013-04-02',
 '2013-04-02',
 '2013-03-31',
 '2013-03-29',
 '2013-03-21',
 '2013-03-21',
 '2013-03-16',
 '2013-03-16',
 '2013-03-12',
 '2013-03-10',
 '2013-03-10',
 '2013-03-03',
 '2013-02-27',
 '2013-02-21',
 '2013-02-21',
 '2013-02-10',
 '2013-02-09',
 '2013-02-01',
 '2013-01-26',
 '2013-01-25',
 '2013-01-21',
 '2013-01-16',
 '2013-01-13',
 '2013-01-05',
 '2012-12-31',
 '2012-12-30',
 '2012-12-28',
 '2012-12-25',
 '2012-12-19',
 '2012-12-05',
 '2012-12-02',
 '2012-12-00',
 '2012-11-30',
 '2012-11-27',
 '2012-11-22',
 '2012-11-19',
 '2012-11-04',
 '2012-11-04',
 '2012-10-30',
 '2012-10-27',
 '2012-10-23',
 '2012-10-19',
 '2012-10-18',
 '2012-10-18',
 '2012-10-16',
 '2012-10-11',
 '2012-10-07',
 '2012-10-02',
 '2012-09-25',
 '2012-09-24',
 '2012-09-16',
 '2012-09-10',
 '2012-09-09',
 '2012-09-08',
 '2012-09-08',
 '2012-09-06',
 '2012-09-06',
 '2012-09-04',
 '2012-09-02',
 '2012-09-02',
 '2012-09-02',
 '2012-08-31',
 '2012-08-28',
 '2012-08-26',
 '2012-08-15',
 '2012-08-11',
 '2012-08-09',
 '2012-08-05',
 '2012-08-04',
 '2012-07-31',
 '2012-07-31',
 '2012-07-30',
 '2012-07-30',
 '2012-07-24',
 '2012-07-23',
 '2012-07-21',
 '2012-07-19',
 '2012-07-14',
 '2012-07-08',
 '2012-07-07',
 '2012-07-07',
 '2012-07-07',
 '2012-07-06',
 '2012-06-28',
 '2012-06-26',
 '2012-06-26',
 '2012-06-26',
 '2012-06-22',
 '2012-06-22',
 '2012-06-20',
 '2012-06-19',
 '2012-06-18',
 '2012-06-15',
 '2012-06-14',
 '2012-06-14',
 '2012-06-14',
 '2012-06-14',
 '2012-06-12',
 '2012-06-10',
 '2012-06-03',
 '2012-06-02',
 '2012-06-02',
 '2012-05-31',
 '2012-05-29',
 '2012-05-23',
 '2012-05-20',
 '2012-05-16',
 '2012-05-12',
 '2012-05-09',
 '2012-05-06',
 '2012-04-19',
 '2012-04-19',
 '2012-04-11',
 '2012-04-03',
 '2012-04-00',
 '2012-03-31',
 '2012-03-24',
 '2012-03-22',
 '2012-03-20',
 '2012-03-15',
 '2012-03-14',
 '2012-03-14',
 '2012-03-06',
 '2012-03-06',
 '2012-03-05',
 '2012-03-04',
 '2012-03-03',
 '2012-03-01',
 '2012-02-26',
 '2012-02-25',
 '2012-02-20',
 '2012-02-06',
 '2012-01-27',
 '2012-01-19',
 '2012-01-22',
 '2012-01-18',
 '2012-01-18',
 '2012-01-15',
 '2012-01-13',
 '2012-01-03',
 '2012-01-02',
 '2011-12-31',
 '2011-12-26',
 '2011-12-25',
 '2011-12-23',
 '2011-12-21',
 '2011-12-21',
 '2011-12-11',
 '2011-12-07',
 '2011-12-07',
 '2011-12-06',
 '2011-12-05',
 '2011-12-02',
 '2011-11-29',
 '2011-11-28',
 '2011-11-22',
 '2011-11-20',
 '2011-11-12',
 '2011-11-11',
 '2011-10-29',
 '2011-10-28',
 '2011-10-28',
 '2011-10-22',
 '2011-10-20',
 '2011-10-19',
 '2011-10-11',
 '2011-10-10',
 '2011-10-09',
 '2011-10-05',
 '2011-10-02',
 '2011-10-01',
 '2011-09-30',
 '2011-09-28',
 '2011-09-28',
 '2011-09-24',
 '2011-09-24',
 '2011-09-20',
 '2011-09-19',
 '2011-09-17',
 '2011-09-16',
 '2011-09-11',
 '2011-09-11',
 '2011-09-04',
 '2011-09-04',
 '2011-09-02',
 '2011-08-31',
 '2011-08-28',
 '2011-08-28',
 '2011-08-26',
 '2011-08-24',
 '2011-08-24',
 '2011-08-23',
 '2011-08-18',
 '2011-08-17',
 '2011-08-17',
 '2011-08-17',
 '2011-08-16',
 '2011-08-16',
 '2011-08-16',
 '2011-08-15',
 '2011-08-11',
 '2011-08-01',
 '2011-07-31',
 '2011-07-30',
 '2011-07-25',
 '2011-07-22',
 '2011-07-19',
 '2011-07-15',
 '2011-07-13',
 '2011-07-13',
 '2011-07-07',
 '2011-07-07',
 '2011-07-06',
 '2011-07-05',
 '2011-06-30',
 '2011-06-29',
 '2011-06-28',
 '2011-06-26',
 '2011-06-24',
 '2011-06-21',
 '2011-06-19',
 '2011-06-19',
 '2011-06-15',
 '2011-06-14',
 '2011-06-12',
 '2011-06-06',
 '2011-06-06',
 '2011-06-06',
 '2011-06-01',
 '2011-05-30',
 '2011-05-29',
 '2011-05-25',
 '2011-05-22',
 '2011-05-21',
 '2011-05-13',
 '2011-05-21',
 '2011-05-13',
 '2011-05-10',
 '2011-05-07',
 '2011-05-04',
 '2011-04-26',
 '2011-04-23',
 '2011-04-22',
 '2011-04-16',
 '2011-04-12',
 '2011-04-08',
 '2011-03-29',
 '2011-03-24',
 '2011-03-23',
 '2011-03-21',
 '2011-03-21',
 '2011-03-16',
 '2011-03-10',
 '2011-03-10',
 '2011-02-28',
 '2011-02-23',
 '2011-02-19',
 '2011-02-17',
 '2011-02-13',
 '2011-02-12',
 '2011-02-04',
 '2011-02-02',
 '2011-01-31',
 '2011-01-28',
 '2011-01-26',
 '2011-01-20',
 '2011-01-15',
 '2011-01-12',
 '2011-01-03',
 '2010-12-26',
 '2010-12-17',
 '2010-12-11',
 '2010-12-05',
 '2010-12-03',
 '2010-12-01',
 '2010-12-01',
 '2010-11-30',
 '2010-11-30',
 '2010-11-27',
 '2010-11-27',
 '2010-11-19',
 '2010-11-15',
 '2010-11-14',
 '2010-11-12',
 '2010-10-30',
 '2010-10-28',
 '2010-10-28',
 '2010-10-25',
 '2010-10-23',
 '2010-10-23',
 '2010-10-22',
 '2010-10-20',
 '2010-10-09',
 '2010-10-02',
 '2010-10-02',
 '2010-10-01',
 '2010-09-27',
 '2010-09-24',
 '2010-09-21',
 '2010-09-13',
 '2010-09-07',
 '2010-09-06',
 '2010-09-04',
 '2010-09-03',
 '2010-09-03',
 '2010-09-02',
 '2010-08-29',
 '2010-08-18',
 '2010-08-17',
 '2010-08-14',
 '2010-08-10',
 '2010-08-10',
 ...]

In [401]:
sharksdf['CaseNumber']=lst #hago efectivo el cambio en el df

In [402]:
set(sharksdf['CaseNumber'])

{'1901-10-00',
 '2005-10-15',
 '1958-07-02',
 '1982-01-29',
 '1956-09-23',
 '2017-04-13',
 '2006-11-11',
 '1855-02-12',
 'ND-0059',
 '1946-04-00',
 '1881-08-12',
 '1954-04-08',
 '1924-01-29',
 '2017-01-08',
 '2015-09-19',
 '2018-04-03',
 '1978-12-12',
 '2008-08-24',
 '1936-01-00',
 '1936-12-12',
 '1963-09-10',
 '1827-00-00',
 '1923-03-18',
 '1887-09-22',
 '1966-12-26',
 '2006-05-19',
 '1991-07-00',
 '1981-02-00',
 '1995-05-18',
 '1993-06-09',
 '1956-08-01',
 '1955-01-17',
 '1949-08-10',
 '1864-09-18',
 '1911-01-04',
 '2008-08-28',
 '1940-12-28',
 '1881-09-05',
 '1870-05-18',
 '2014-12-29',
 '2017-08-27',
 '1930-01-16',
 '2003-10-14',
 '1987-12-17',
 '1978-00-00',
 '2017-06-02',
 '2013-10-11',
 '1990-12-26',
 '2001-03-09',
 '1986-02-18',
 '2012-03-14',
 '2004-05-28',
 '1985-12-10',
 '1914-02-03',
 '1977-12-31',
 '2004-05-22',
 '2011-10-10',
 '2017-04-26',
 '1554-00-00',
 '2006-04-03',
 'ND-0019',
 '2001-07-24',
 '1990-07-22',
 '1883-12-18',
 '2017-02-17',
 '1980-03-11',
 '1960-02-27',
 '1989-12-19',
 '1916-12-08',
 '1942-11-00',
 '2010-06-25',
 '2005-08-12',
 '1912-01-06',
 '1928-07-00',
 '1999-07-29',
 '1890-12-30',
 '1952-04-00',
 '1965-01-10',
 '1997-10-28',
 '2006-10-10',
 '1901-01-30',
 '1996-04-07',
 '1986-11-19',
 '1999-11-15',
 '1977-02-00',
 '1902-04-00',
 '2011-06-24',
 '1936-12-19',
 '1989-01-03',
 '2015-03-29',
 '2012-06-18',
 '2007-11-03',
 '1983-08-15',
 'ND-0085',
 '1939-09-27',
 '1965-03-23',
 '2015-01-19',
 '1974-08-05',
 '1990-03-24',
 '1894-08-21',
 '1862-07-25',
 '2007-12-18',
 '1831-08-24',
 '2013-08-26',
 '1974-09-28',
 '2011-06-30',
 '2003-12-13',
 '2012-09-02',
 '2007-09-17',
 '1943-12-12',
 '1868-09-01',
 '1910-12-25',
 '1984-02-12',
 '2018-02-11',
 '1931-07-28',
 '1911-07-31',
 '1961-04-21',
 '2004-05-18',
 '1883-02-26',
 '2016-07-14',
 '2005-11-20',
 '1969-07-22',
 '1927-02-14',
 '1993-03-14',
 '1924-04-22',
 '2017-06-14',
 '1993-06-01',
 '1958-11-05',
 '2017-09-06',
 '2010-11-14',
 '2003-11-06',
 '2016-02-10',
 '2007-05-16',
 '1965-06-09',
 '1976-11-25',
 '2010-10-20',
 '2016-12-01',
 '1920-00-00',
 '1936-06-06',
 '1914-06-12',
 '1917-06-03',
 '1905-04-06',
 '1981-03-04',
 '2003-09-19',
 '1968-09-15',
 '1919-09-12',
 '1910-06-25',
 '1957-11-08',
 '1994-10-05',
 '1989-10-01',
 '1986-12-04',
 '1928-02-20',
 '1979-03-01',
 '1938-01-02',
 '1878-09-14',
 '2006-05-21',
 '1990-00-00',
 '2016-04-09',
 '2006-08-27',
 '1935-11-13',
 'ND-0075',
 '1913-03-27',
 '1934-10-09',
 '1987-03-30',
 '2007-06-05',
 '1936-07-25',
 '1983-07-25',
 '2017-01-22',
 '2000-08-13',
 '2007-03-22',
 '2001-10-07',
 '1935-08-26',
 '1953-07-16',
 '1962-07-10',
 '1915-12-09',
 '1939-12-28',
 '2015-05-03',
 '0000-0336',
 '2013-12-02',
 '1898-07-15',
 '2013-06-18',
 '1998-10-01',
 '2009-01-06',
 '1954-08-19',
 '2011-12-31',
 '1909-00-00',
 '1998-08-01',
 '2015-08-18',
 '2012-10-27',
 '2000-07-15',
 '1861-11-10',
 '2008-11-28',
 '1961-03-30',
 '1902-02-22',
 '1982-06-25',
 '1982-00-00',
 '2000-06-10',
 '1929-01-06',
 '1988-03-31',
 '1974-05-26',
 '1941-08-21',
 '1962-01-16',
 '1976-06-01',
 '1973-12-00',
 '1992-02-14',
 '1906-01-20',
 '1969-08-00',
 '2008-09-09',
 'ND-0068',
 '2016-07-27',
 '2003-06-08',
 '1954-06-27',
 '2015-06-01',
 '1951-06-25',
 '2009-03-06',
 '1959-01-17',
 '1942-01-00',
 '1973-09-00',
 '2012-08-09',
 '1959-12-19',
 '1998-12-18',
 '1935-01-21',
 '1944-01-16',
 '1981-02-07',
 '1988-10-24',
 '1941-12-07',
 '2006-09-29',
 '1934-03-00',
 '1884-08-18',
 '2007-08-15',
 '1996-04-25',
 '2016-08-06',
 '1988-12-15',
 '2012-03-15',
 '2010-05-01',
 '1911-09-17',
 '2008-04-19',
 '2016-12-19',
 'ND-0062',
 '1812-07-00',
 '2012-12-05',
 '2015-06-23',
 '1999-08-26',
 '1961-01-05',
 '2011-05-22',
 '2010-12-03',
 '1920-01-24',
 '1874-07-23',
 '1961-07-16',
 '1946-01-05',
 '1994-11-13',
 '1938-06-17',
 '1984-07-24',
 '1961-04-00',
 '1963-09-29',
 '2015-05-07',
 '2009-07-04',
 '1894-09-01',
 '1904-11-02',
 '2001-05-23 ',
 '2005-11-27',
 '1972-12-22',
 '1966-08-13',
 'ND-0122',
 '1964-02-05',
 'ND-0135',
 '2016-02-19',
 '2018-02-23',
 '2015-10-09',
 '1881-10-16',
 '1983-07-26',
 '2011-10-19',
 '1923-10-17',
 '1981-05-24',
 '2004-03-22',
 '2012-10-02',
 '1962-12-09',
 '1974-03-00',
 '1976-11-23',
 '1959-08-05',
 'ND-0102',
 'ND-0123',
 '1912-02-22',
 '2008-10-06',
 '2007-06-12',
 '2017-09-14',
 '2012-07-14',
 '2013-07-11',
 '2004-09-25',
 '1986-11-04',
 '1928-04-04',
 '1994-05-23',
 '2017-09-13',
 '2018-04-24',
 '1992-12-28',
 '1998-01-14',
 '2012-02-06',
 '1867-01-26',
 '1786-08-10',
 '2016-06-27',
 '2015-08-19',
 '1964-08-26',
 '1964-01-11',
 '1898-01-24',
 '1948-11-18',
 '2005-12-24',
 '2003-06-00',
 '1994-07-24',
 '1816-09-03',
 '2000-02-21',
 '1984-07-01',
 '1932-10-31',
 '1959-09-00',
 '1849-09-19',
 '1985-10-22',
 '2009-08-06',
 '2006-05-04',
 'ND-0069',
 '2015-03-18',
 '1965-09-12',
 '1992-01-08',
 '1927-05-09',
 '2008-04-17',
 '1990-04-14',
 '1943-05-17',
 '1959-11-09',
 '2001-04-10',
 '2005-06-27',
 '2009-01-26',
 '2015-06-17',
 '2013-01-05',
 '1830-07-26',
 '1863-00-003',
 '1862-06-03',
 '2016-06-21',
 '1987-02-28',
 '1962-09-02',
 '1954-07-03',
 '1967-04-00',
 '1932-06-20',
 '2006-07-25',
 '2007-09-30',
 '1967-10-00',
 '1961-07-00',
 '1988-07-00',
 '2015-10-21',
 '1993-05-00',
 '1968-02-26',
 '1929-06-23',
 '1913-07-12',
 '1818-05-22',
 '2017-09-16',
 '1989-07-27',
 '1924-06-18',
 '2001-03-08',
 '2011-08-16',
 '1978-07-27',
 '1995-07-24',
 '2011-10-11',
 '1964-11-29',
 '2016-08-25',
 '2012-07-24',
 '1967-11-30',
 '2013-11-23',
 '1877-00-00',
 '2004-05-04',
 '1890-08-17',
 '1994-10-08',
 '2012-07-23',
 '1975-07-23',
 '1961-06-01',
 '1959-07-02',
 '2001-05-04',
 '1956-07-20',
 '2008-12-27',
 '2009-01-10',
 '1985-02-18',
 '1810-09-15',
 '1982-09-04',
 '1808-12-25',
 '1999-00-00',
 '1935-08-13',
 '1995-04-13',
 '1888-00-00',
 '1956-03-00',
 '1993-10-26',
 '1945-03-06',
 '1968-12-02',
 '1997-06-07',
 '1932-04-16',
 '2004-09-04',
 '1991-04-03',
 '1951-02-01',
 '2014-11-20',
 '1938-01-14',
 '2007-03-05',
 '1994-04-06',
 '1951-12-21',
 '1829-07-03',
 '1945-07-30',
 '2006-07-23',
 '1972-10-14',
 '1978-02-19',
 '2003-01-02',
 '1982-02-28',
 '1974-07-26',
 '2013-07-28',
 '1963-01-04',
 '1969-08-22',
 '1963-04-17',
 '1991-06-07',
 '1983-07-15',
 '1958-00-00',
 '1932-09-26',
 '1948-12-27',
 '1990-02-05',
 '1999-10-01',
 '1990-02-17',
 '1979-05-27',
 '1896-12-17',
 '2016-12-24',
 '1968-04-15',
 '2017-09-02',
 '1960-10-25',
 '1985-01-00',
 '1989-09-09',
 '1842-07-06',
 '1984-09-30',
 '2015-02-15',
 '1862-08-02',
 '2003-05-25',
 '1988-10-00',
 '1975-11-07',
 '1916-03-19',
 '2011-05-07',
 '1904-09-00',
 '2013-03-12',
 '1958-10-12',
 '1995-11-17',
 '1913-11-21',
 '1975-10-12',
 '1908-07-18',
 '1921-08-22',
 '2002-03-25',
 '1996-10-28',
 '1986-11-30',
 '1964-02-11',
 '2005-02-16',
 '2017-03-11',
 '1961-09-23',
 'ND-0109',
 '1936-02-23',
 '2014-10-30',
 '1933-07-07',
 '1989-07-07',
 '1969-05-24',
 '1986-12-00',
 '1963-07-15',
 '1933-02-12',
 '1959-11-12',
 '1952-00-00',
 '2005-12-21',
 '1960-06-04',
 '1999-03-18',
 '1960-01-30',
 '2018-06-03',
 '1983-05-24',
 '1995-06-14',
 '2006-04-19',
 '1993-09-26',
 '1946-02-16',
 '1835-01-06',
 '1928-01-00',
 '2011-11-20',
 '1999-04-11',
 '1842-00-00',
 '1989-08-09',
 '1878-03-30',
 '2000-12-00',
 '2014-08-27',
 '2009-09-18',
 '1956-12-24',
 '1910-12-23',
 '2011-09-11',
 '1997-10-04',
 '2000-06-02',
 '1920-11-04',
 '2002-10-14',
 '2007-12-09',
 '2006-09-14',
 '1877-03-11',
 '2015-05-15',
 '1971-11-27',
 '1987-11-00',
 '1900-07-14',
 '2013-09-02',
 '2016-02-12',
 '1982-10-13',
 '2001-09-18',
 '1950-02-18',
 '1958-07-10',
 '1963-02-24',
 '1871-05-22',
 '1959-01-12',
 '1968-06-00',
 '1979-05-03',
 '1966-09-27',
 '1956-02-26',
 '1956-10-20',
 '2014-07-12',
 '1890-08-08',
 '1964-10-31',
 '2008-04-15',
 '1950-01-12',
 '2009-10-14',
 '1617-00-00',
 '2009-03-27',
 '1971-06-30',
 '1991-01-19',
 '2011-07-30',
 '1767-00-00',
 '1864-01-02',
 '0000-0214',
 '2010-11-12',
 '1978-04-00',
 '1955-02-10',
 '1962-01-18',
 '1961-04-25',
 '2005-10-03',
 '1959-12-03',
 '2006-02-12',
 '1860-12-26',
 '2007-08-26',
 '1947-04-20',
 '2018-04-28',
 '1998-01-17',
 '2005-11-02',
 '1966-09-19',
 '1936-12-15',
 '1959-02-01',
 '1962-02-23',
 '2015-01-03',
 '1903-05-04',
 '1988-02-02',
 '1912-01-13',
 '1862-12-04',
 '1948-03-11',
 '2000-03-30',
 '2005-06-25',
 '2002-05-22',
 '1961-06-06',
 '1989-07-20',
 '1950-08-00',
 '2003-07-20',
 '1994-12-18',
 '1944-01-14',
 '1961-10-27',
 '2000-03-14',
 '2017-04-17',
 '1896-11-29',
 '1831-01-22',
 '1900-12-27',
 '1992-11-29',
 '2004-01-03',
 '2014-10-18',
 '1996-01-10',
 '2014-04-15',
 '2012-08-31',
 '1931-06-14',
 '1958-02-19',
 '1863-00-002',
 '2010-08-02',
 '2014-05-11',
 '1954-10-07',
 '1982-08-29',
 '1949-01-23',
 'UNKNOWN',
 '1892-11-06',
 '1861-03-00',
 '1908-12-16',
 '2013-08-11',
 '1963-01-22',
 '1954-07-15',
 '1933-02-14',
 '1966-04-08',
 '1965-06-00',
 '1949-11-20',
 '1998-04-00',
 '1991-07-01',
 '1909-01-17',
 '1987-02-19',
 '1879-07-03',
 '1967-08-27',
 '1988-01-14',
 '2001-07-03',
 '1954-00-00',
 '1960-08-00',
 '1929-09-01',
 '2013-10-23',
 '2015-10-05',
 '2007-07-22',
 '1983-11-21',
 '2008-10-21',
 '2006-05-28',
 '1898-08-22',
 '1912-08-30',
 '1982-06-26',
 '1942-11-01',
 '1993-10-30',
 '1889-07-08',
 '1991-06-29',
 '1956-12-09',
 '2009-08-29',
 '2018-03-09',
 '1927-03-01',
 '2004-07-25',
 '1997-06-02',
 '2015-09-03',
 '2015-02-05',
 '1999-03-14',
 '1934-09-08',
 '1981-03-25',
 '2014-07-03',
 '1888-12-09',
 '1749-00-00',
 '1969-04-19',
 '2010-02-06',
 '2000-12-03',
 '2017-04-22',
 '1948-08-19',
 '1990-04-07',
 '2014-01-04',
 '1950-07-09',
 '1899-05-28',
 '2002-01-04',
 '1937-09-26',
 '1924-11-25',
 '2002-04-21',
 '2015-05-25',
 '1897-00-00',
 '1930-05-27',
 '2010-09-24',
 '1909-06-18',
 '1996-02-05',
 'ND-0124',
 '2015-06-26',
 '1953-08-00',
 'ND-0064',
 '2003-10-06',
 '1953-07-04',
 '2009-04-06',
 '1929-03-04',
 '2012-09-08',
 '1958-09-01',
 '1961-12-19',
 'ND-0153',
 '2013-11-22',
 '1938-10-05',
 '1753-10-27',
 '1909-09-04',
 '2014-09-00',
 '1951-05-22',
 '1964-07-16',
 '2014-11-19',
 '1962-06-21',
 '2015-06-25',
 '2013-07-19',
 '1962-03-25',
 '1928-01-02',
 '2012-09-06',
 '1784-12-12',
 '1964-06-24',
 '1921-08-28',
 '1964-02-01',
 '1907-07-00',
 '1959-11-16',
 '1891-03-10',
 '1941-03-24',
 '1953-04-07',
 '2000-07-10',
 'ND-0013',
 '1994-09-21',
 '1950-12-16',
 '1987-05-08',
 '2013-09-14',
 '1972-09-09',
 '1960-08-04',
 '2017-04-12',
 '2003-02-11',
 '1992-08-29',
 '1992-03-28',
 '1986-09-00',
 '1955-07-07',
 '2009-12-12',
 '2002-03-03',
 '2008-10-12',
 '1939-11-09',
 '2001-08-25',
 '1999-05-01',
 'ND-0108',
 '2013-05-04',
 '1995-06-23',
 '2001-09-15',
 '2008-08-16',
 '1999-09-04',
 '1955-07-15',
 '2016-07-16',
 '2015-10-17',
 '2009-01-00',
 '1758-00-00',
 '1995-06-24',
 'ND-0025',
 '1971-01-02',
 '1917-00-00',
 '2011-05-21',
 '2008-07-00',
 '1999-12-06',
 'ND-0046',
 '1960-02-10',
 '2011-12-26',
 '1996-02-26',
 '2000-12-24',
 '2007-10-29',
 '2018-06-18',
 '1905-12-31',
 '2016-01-24',
 '1911-05-09',
 '2006-03-22',
 '1997-07-27',
 '1988-03-16',
 '2012-12-02',
 '2001-08-19',
 '1959-07-00',
 '1942-09-30',
 '1976-01-12',
 '2009-07-30',
 '2008-11-24',
 '1961-12-27',
 '1960-05-19',
 '1884-08-28',
 '2003-09-13',
 '1971-04-00',
 '2015-09-04',
 '1971-04-11',
 '1965-07-30',
 '1964-12-09',
 '1983-12-24',
 '1944-02-27',
 '1914-12-04',
 '2013-09-21',
 '2004-04-04',
 '2008-07-26',
 '1971-10-23',
 '2000-08-10',
 '1999-07-21',
 '1955-04-12',
 '2006-12-06',
 '1888-08-14',
 '1963-12-26',
 '2010-02-11',
 '1960-05-16',
 '1931-08-25',
 '1916-07-12',
 '2014-08-29',
 '1847-09-10',
 '1915-00-00',
 '1959-08-20',
 '1997-05-31',
 '1860-04-00',
 '1911-04-08',
 '1933-08-28',
 '1992-07-08',
 '1925-03-27',
 '2006-06-20',
 '1849-01-27',
 '1899-06-07',
 '1973-12-18',
 '1992-01-23',
 '1965-01-25',
 '1919-01-05',
 '1978-09-16',
 '2013-05-23',
 '1941-02-13',
 '2001-07-06',
 '2017-09-20',
 '2005-05-02',
 '1896-12-20',
 '1962-11-00',
 '1995-01-24',
 '1893-00-00',
 '1829-06-10',
 '2011-09-02',
 '2015-09-26',
 '2001-05-08',
 '1948-12-26',
 '1915-08-03',
 '1967-08-00',
 '2012-07-31',
 '2011-06-15',
 '1984-01-04',
 '1992-11-25',
 '2003-12-31',
 '1947-12-21',
 '1982-03-07',
 '2000-07-06',
 '1961-02-01',
 '1966-05-16',
 '1963-07-28',
 '2004-10-02',
 '1950-07-10',
 '1983-01-24',
 '2016-10-01',
 '2017-07-11',
 '2001-04-05',
 '1981-03-00',
 '1863-00-004',
 '2007-12-07',
 '1939-11-11',
 '1995-09-13',
 '2011-09-19',
 '1975-05-20',
 '2005-07-13',
 '2007-12-21',
 '1974-06-20',
 '1975-09-00',
 '2009-03-21',
 '2002-11-17',
 '1893-04-14',
 '2014-07-14',
 '1851-12-15',
 '1907-00-00',
 '1890-12-27',
 '2002-04-09',
 '1995-11-29',
 '2012-01-19',
 '1837-00-00',
 '2008-08-20',
 '2017-03-19',
 '1958-10-05',
 '2015-10-28',
 '1977-04-26',
 '2003-09-00',
 '1997-09-09',
 '2001-03-23',
 'ND-0003',
 '1910-03-31',
 '1965-02-14',
 '1916-07-26',
 '1964-09-07',
 '1965-10-10',
 '1953-12-22',
 '1977-10-30',
 '1959-01-31',
 '1848-07-17',
 '1963-12-20',
 '2014-03-12',
 '1987-10-11',
 '1996-06-04',
 '2006-12-11',
 '1964-01-18',
 '2014-04-03',
 '1995-08-15',
 '1957-12-20',
 '1971-09-07',
 '1999-08-16',
 '1955-01-15',
 '1882-00-00',
 '1943-03-02',
 '1955-08-08',
 '1996-06-06',
 '1972-12-25',
 '1825-00-00',
 '2017-02-24',
 '1959-08-11',
 '1975-03-16',
 '1934-10-08',
 '2008-05-07',
 '1893-10-16',
 '2012-09-16',
 '1960-05-29',
 'ND-0048',
 '1988-09-13',
 '2010-07-19',
 '2013-09-07',
 '1930-00-00',
 '2005-03-19',
 '1998-08-13',
 '1909-04-09',
 '1928-02-00',
 '2015-11-15',
 '2006-09-04',
 '1979-12-01',
 '2006-07-09',
 '1999-06-12',
 '1994-01-03',
 '2010-10-30',
 '1954-10-02',
 '1984-10-14',
 '1949-01-05',
 '1972-02-20',
 '2013-09-01',
 '1947-03-12',
 '2001-08-03',
 '2016-02-22',
 '2015-01-27',
 '1742-12-17',
 '1946-05-09',
 '2012-06-20',
 '1933-06-13',
 '1983-02-20',
 '1960-02-29',
 '1984-12-03',
 '1986-02-17',
 '2013-02-01',
 '1999-10-20',
 '2011-04-08',
 '1886-02-13',
 '2013-02-09',
 '2016-05-18',
 '1856-11-20',
 '1947-02-23',
 '1931-08-31',
 '1989-04-00',
 '1992-05-00',
 '2015-05-29',
 '1935-04-12',
 '1943-07-00',
 '1879-00-00',
 '1953-09-20',
 '1994-12-11',
 '1863-12-14',
 '2013-07-29',
 '2009-12-26',
 '1964-10-25',
 '1961-09-02',
 '1980-11-17',
 '1929-04-09',
 '1970-01-00',
 '1929-08-05',
 '1989-06-03',
 '1945-06-15',
 '1909-04-27',
 '2000-03-09',
 '2012-07-19',
 '1959-09-11',
 '2004-01-12',
 '1912-02-03',
 '1964-06-17',
 '1980-03-15',
 '2012-06-10',
 '1996-04-28',
 '2015-01-24',
 '1997-05-17',
 '1805-09-00',
 '2005-06-22',
 '1996-09-06',
 '2017-10-23',
 '2005-07-27',
 '1906-04-02',
 '1995-03-05',
 'ND-0006',
 '1978-03-05',
 '1921-08-29',
 '1979-08-05',
 '1891-08-30',
 '2011-10-28',
 '1864-08-12',
 '1946-12-24',
 '1959-05-03',
 '2013-10-05',
 '1995-06-30',
 '1924-10-31',
 '2001-07-00',
 '1942-06-08',
 '1964-07-15',
 '1961-10-00',
 '1973-02-27',
 '2013-03-10',
 '2001-09-02',
 '1937-09-12',
 '2017-04-05',
 '1991-11-19',
 '1997-06-09',
 '1888-10-23',
 '1931-08-23',
 '2007-08-12',
 '1942-11-13',
 '2013-12-10',
 '1993-01-02',
 '1952-07-13',
 '1999-09-29',
 '1972-04-01',
 '1995-04-09',
 '1965-04-29',
 '1895-09-18',
 '1967-01-21',
 '1970-00-00',
 '1923-12-02',
 '1970-01-10',
 '2015-10-19',
 ...}

In [403]:
keyword='ND'

select=sharksdf[sharksdf.CaseNumber.str.contains(keyword, regex=True)]

select # Me quedan 121 ND que me gustaria arreglar para dejar la columna de CaseNumber perfecta

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Dead(Y/N/U),Time,Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber1,CaseNumber2,originalorder
6181,ND-0154,Before 1939,0.0,Unprovoked,CANADA,NaN,Grand Banks,Fishing,Joe Folsom,M,NaN,Arm bitten,N,NaN,NaN,"C.E.Russell, pp. 310-311",ND-0154-Folsom.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0154,ND-0154,122.0
6182,ND-0153,1990 or 1991,0.0,Unprovoked,KENYA,Mombasa,Kilindini,Diving,Conway Plough & Dr. Jonathan Higgs,M,NaN,Conway's leg was bitten Higgs injury was FATAL,N,NaN,NaN,A.J. Venter,ND-0153-Plough-Higgs.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0153,ND-0153,121.0
6183,ND-0152,Before 2016,0.0,Unprovoked,KENYA,Mombasa,Kilindini,Diving,Hamisi Njenga,M,NaN,FATAL,Y,NaN,NaN,eadestination,ND-0152-Kenya.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0152,ND-0152,120.0
6184,ND-0151,Before Oct-2009,0.0,Unprovoked,PANAMA,Bocas del Toro Province,Red Frog Beach,Swimming/,Unknown,M,20,FATAL,Y,NaN,NaN,C. Mendieta & A. Duarte,ND-0151-Panama.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0151,ND-0151,119.0
6185,ND-0150,Before 1934,0.0,Unprovoked,URUGUAY,Rocha,"Isla Chica, La Paloma",Swimming,Unknown,UNKNOWN,NaN,Foot bitten,N,NaN,NaN,"Di Candia, 2004",ND-0150-Uruguay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0150,ND-0150,118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND-0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND-0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND-0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND-0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND-0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [404]:
# COLUMNA YEAR

In [405]:
sharksdf['Year'].info()

<class 'pandas.core.series.Series'>
Int64Index: 6312 entries, 0 to 25722
Series name: Year
Non-Null Count  Dtype
--------------  -----
6300 non-null   float64
dtypes: float64(1)
memory usage: 98.6 KB

In [406]:
sharksdf['Year'].describe()

count    6300.000000
mean     1927.272381
std       281.116308
min         0.000000
25%      1942.000000
50%      1977.000000
75%      2005.000000
max      2018.000000
Name: Year, dtype: float64

In [407]:
sharksdf.Year.dtype # es un float. Quiero convertirlo a numero entero porque es más propio de los años.

dtype('float64')

In [408]:
sharksdf.Year.fillna(0, inplace=True) #sustituyo los nulos por 0 para poder hacer el cambio de tipo de dato

In [409]:
z = sharksdf["Year"].astype(dtype='int32', copy=True)

In [410]:
sharksdf["Year"]= z

In [411]:
sharksdf.Year #Los años ahora son numeros enteros

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
6307        0
6308        0
6309        0
8702        0
25722       0
Name: Year, Length: 6312, dtype: int32

In [412]:
# COLUMNA DEAD(Y/N/U). HE VUELTO A CAMBIAR EL NOMBRE SOBRE LA MARCHA AUNQUE NO QUEDE CONSTANCIA

In [413]:
set(sharksdf['Dead(Y/N/U)']) # Solo quiero que me aparezcan las opciones YES, NO, U = UNKNOWN

{' N', '2017', 'M', 'N', 'N ', 'UNKNOWN', 'Y', nan, 'y'}

In [414]:
sharksdf['Dead(Y/N/U)'] = sharksdf['Dead(Y/N/U)'].str.strip()
sharksdf['Dead(Y/N/U)'] = sharksdf['Dead(Y/N/U)'].fillna('U')
sharksdf['Dead(Y/N/U)'] = sharksdf['Dead(Y/N/U)'].str.replace('n', 'N')
sharksdf['Dead(Y/N/U)'] = sharksdf['Dead(Y/N/U)'].str.replace('2017', 'U')
sharksdf['Dead(Y/N/U)'] = sharksdf['Dead(Y/N/U)'].str.replace('y', 'Y')
sharksdf['Dead(Y/N/U)'] = sharksdf['Dead(Y/N/U)'].str.replace('UNKNOWN', 'U')
sharksdf['Dead(Y/N/U)'] = sharksdf['Dead(Y/N/U)'].str.replace('M', 'N')

set(sharksdf['Dead(Y/N/U)']) # Conseguido

{'N', 'U', 'Y'}

In [415]:
# no voy a hacer nada más con la columna DEAD(Y/N/U)

In [416]:
#COLUMNA TIME. EXPLORACIÓN

In [417]:
sharksdf.Time.isna().mean() * 100 # + DEL 50% DE LOS ELEMENTOS NULOS

53.29531051964512

In [418]:
sharksdf.Time.describe().T

count          2948
unique          366
top       Afternoon
freq            187
Name: Time, dtype: object

In [419]:
sharksdf.Time.isnull().sum()

3364

In [420]:
sharksdf.Time.unique()

array(['18h00', '14h00  -15h00', '07h45', nan, 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40',
       '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00, Dusk', 'Night', '16h00',
       '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30',
       '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19',
       'Midday', '13h30', '10h45', '11h20', '11h45', '19h30', '08h30',
       '15h45', 'Shortly before 12h00', '17h34', '17h10', '11h15',
       '08h50', '17h45', '13h00', '10h20', '13h20', '02h00', '09h50',
       '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [421]:
set(sharksdf['Time'])

{' ',
 '  ',
 '   ',
 ' 14h00',
 '"After dark"',
 '"After lunch"',
 '"Early evening"',
 '"Evening"',
 '"Just before 11h00"',
 '"Night"',
 '"shortly before dusk"',
 '--',
 '00h30',
 '01h00',
 '01h30',
 '01h32',
 '01h50',
 '02h00',
 '02h30',
 '02h45',
 '03h00',
 '03h30',
 '03h45 - 04h00',
 '04h00',
 '0500',
 '05h00',
 '05h30',
 '05h40',
 '05h45',
 '05h50',
 '06h00',
 '06h00 -- 07h00',
 '06h10',
 '06h15',
 '06h30',
 '06h45',
 '06h47',
 '06h50',
 '06j00',
 '07h00',
 '07h00 - 08h00',
 '07h05',
 '07h08',
 '07h10',
 '07h15',
 '07h19',
 '07h20',
 '07h30',
 '07h32',
 '07h40',
 '07h45',
 '07h50',
 '07h56',
 '0830',
 '08h00',
 '08h00 / 09h30',
 '08h05',
 '08h10',
 '08h15',
 '08h20',
 '08h30',
 '08h35',
 '08h40',
 '08h45',
 '08h50',
 '08h55',
 '08h57',
 '08h58',
 '09h00',
 '09h00 - 09h30',
 '09h00 -10h00',
 '09h05',
 '09h11',
 '09h15',
 '09h20',
 '09h30',
 '09h30 ',
 '09h30 / 10h00',
 '09h30 / 15h30',
 '09h35',
 '09h40',
 '09h45',
 '09h50',
 '09h55',
 '09h57',
 '10h00',
 '10h00 -- 11h00',
 '10h00 / 11h00',
 '10h00 or 14h00',
 '10h07',
 '10h10',
 '10h15',
 '10h16',
 '10h20',
 '10h22',
 '10h25',
 '10h27',
 '10h28',
 '10h30',
 '10h30 or 13h30',
 '10h35',
 '10h40',
 '10h43',
 '10h44',
 '10h45',
 '10h45-11h15',
 '10h50',
 '10h55',
 '11h00',
 '11h00 / 11h30',
 '11h01 -time of ship sinking',
 '11h05',
 '11h06',
 '11h10',
 '11h115',
 '11h15',
 '11h20',
 '11h25',
 '11h30',
 '11h30 ',
 '11h40',
 '11h41',
 '11h45',
 '11h48',
 '11h50',
 '11h51',
 '11h53',
 '11h55',
 '11h56',
 '11h57',
 '11h58',
 '12h00',
 '12h00 to 14h00',
 '12h02',
 '12h05',
 '12h10',
 '12h15',
 '12h20',
 '12h25',
 '12h30',
 '12h33',
 '12h34',
 '12h35',
 '12h38',
 '12h39',
 '12h40',
 '12h45',
 '12h45 / 13h45',
 '12h46',
 '12h48',
 '12h50',
 '12h54',
 '12h55',
 '1300',
 '13h00',
 '13h05',
 '13h06',
 '13h10',
 '13h14',
 '13h15',
 '13h19',
 '13h20',
 '13h23',
 '13h24',
 '13h25',
 '13h26',
 '13h30',
 '13h345',
 '13h35',
 '13h37',
 '13h40',
 '13h42',
 '13h45',
 '13h50',
 '13h51',
 '13h53',
 '13h55',
 '14h00',
 '14h00  -15h00',
 '14h00 - 15h00',
 '14h10',
 '14h15',
 '14h16',
 '14h20',
 '14h21',
 '14h25',
 '14h30',
 '14h30 / 15h30',
 '14h34',
 '14h35',
 '14h37',
 '14h40',
 '14h45',
 '14h50',
 '14h55',
 '1500',
 '15h00',
 '15h00 or 15h45',
 '15h00j',
 '15h01',
 '15h05',
 '15h06',
 '15h15',
 '15h19',
 '15h20',
 '15h25',
 '15h30',
 '15h35',
 '15h40',
 '15h44',
 '15h45',
 '15h49',
 '15h50',
 '15h52',
 '15h53',
 '15h55',
 '15h56',
 '15j45',
 '1600',
 '16h00',
 '16h05',
 '16h10',
 '16h12',
 '16h14',
 '16h15',
 '16h18',
 '16h20',
 '16h23',
 '16h25',
 '16h30',
 '16h30 or 18h00',
 '16h35',
 '16h40',
 '16h45',
 '16h50',
 '16h55',
 '17h00',
 '17h00 Sunset',
 '17h00 or 17h40',
 '17h00-18h00',
 '17h01',
 '17h10',
 '17h11',
 '17h15',
 '17h17',
 '17h20',
 '17h30',
 '17h34',
 '17h35',
 '17h40',
 '17h42',
 '17h45',
 '17h46',
 '17h50',
 '17h51',
 '17h55',
 '17h58',
 '18h00',
 '18h05',
 '18h10',
 '18h12',
 '18h15',
 '18h15 to 21h30',
 '18h15-18h30',
 '18h20',
 '18h25',
 '18h30',
 '18h30 (Sunset)',
 '18h30?',
 '18h40',
 '18h45',
 '18h50',
 '19h00',
 '19h00 / 20h00',
 '19h00, Dusk',
 '19h00-20h00',
 '19h05',
 '19h10',
 '19h15',
 '19h20',
 '19h28',
 '19h30',
 '19h35',
 '19h45',
 '19h55',
 '2 hours after Opperman',
 '2 hrs before sunset',
 '20h00',
 '20h15',
 '20h30',
 '20h45 (Sunset)',
 '21h00',
 '21h30',
 '21h50',
 '22h00',
 '22h30',
 '23h00',
 '23h30',
 '30 minutes after 1992.07.08.a',
 '8:04 pm',
 '9h00',
 '<07h30',
 '>06h45',
 '>08h00',
 '>12h00',
 '>14h30',
 '>17h00',
 '>17h30',
 'A.M.',
 'AM',
 'After 04h00',
 'After Dusk',
 'After dusk',
 'After midnight',
 'After noon',
 'Afternoon',
 'Before 07h00',
 'Before 10h30',
 'Before daybreak',
 'Between 05h00 and 08h00',
 'Between 06h00 & 07h20',
 'Between 11h00 & 12h00',
 'Dark',
 'Dawn',
 'Daybreak',
 'Daytime',
 'Dusk',
 'Early Morning',
 'Early afternoon',
 'Early morning',
 'Evening',
 'FATAL  (Wire netting installed at local beaches after this incident.)',
 'Just after 12h00',
 'Just before dawn',
 'Just before noon',
 'Just before sundown',
 'Late Afternoon',
 'Late afternon',
 'Late afternoon',
 'Late morning',
 'Late night',
 'Lunchtime',
 'Mid afternoon',
 'Mid morning',
 'Mid-morning',
 'Midday',
 'Midday.',
 'Midnight',
 'Morning',
 'Morning ',
 'Night',
 'Nightfall',
 'Noon',
 'P.M.',
 'Possibly same incident as 2000.08.21',
 'Prior to 10h37',
 'Ship aban-doned at 03h10',
 'Shortly after midnight',
 'Shortly before 12h00',
 'Shortly before 13h00',
 'Sometime between 06h00 & 08hoo',
 'Sunset',
 'X',
 'dusk',
 nan,
 'night',
 '\xa0 '}

In [422]:
sharksdf.drop(columns=['Time'], inplace=True) 

# ELIMINO LA COLUMNA TIME PORQUE NO ME APORTA NAAADA Y ESTA LLENO DE NAN

In [423]:
sharksdf.columns # así están las columnas

Index(['CaseNumber', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Dead(Y/N/U)', 'Species',
       'InvestigatororSource', 'pdf', 'hrefformula', 'href', 'CaseNumber1',
       'CaseNumber2', 'originalorder'],
      dtype='object')

In [424]:
#COLUMNA ORIGINALORDER

In [425]:
sharksdf["originalorder"].dtypes # igual que con years esta columna tiene que ser numerica con numeros enteros

dtype('float64')

In [426]:
sharksdf["originalorder"].isnull().sum() #tenemos 3 nulos

3

In [427]:
sharksdf.originalorder.fillna(0, inplace=True) #sustituyo los nulos por 0 para poder hacer el cambio de tipo de dato

In [428]:
 w = sharksdf["originalorder"].astype(dtype='int32', copy=True) #cambio el tipo de dato a int

In [429]:
sharksdf["originalorder"]= w #produzco el cambio

In [430]:
sharksdf["originalorder"].head() #ahora son numeros enteros

0    6303
1    6302
2    6301
3    6300
4    6299
Name: originalorder, dtype: int32

In [431]:
set(sharksdf["originalorder"].unique())

{0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 ...}

In [432]:
sharksdf['originalorder']= sharksdf['originalorder'].sort_values(ascending=True)

In [433]:
#COLUMNA SPECIES

In [434]:
sharksdf['Species'].isnull().sum()

2848

In [435]:
set(sharksdf['Species'].sample(n=50)) #esto esta muy sucio. Me voy a limitar a rellenar nulos por unknowns

{'"sandshark"',
 "1.2 m [4'] shark",
 "1.8 m [6'] carpet shark",
 "10' to 12' shark",
 '2 m shark',
 "20' shark",
 "3 m to 4 m [10' to 13'] white shark",
 "6 m [20'] white shark",
 'Blacktip shark',
 "Bull shark, 5' ",
 "Bull shark, 5' to 7'",
 'Mako shark',
 'Mako shark, 180-kg [397-lb]',
 'No shark involvement',
 'Possibly a sand shark',
 'Raggedtooth shark, 150-kg',
 'Raggedtooth shark, 2.5 m to 3 m ',
 'Shark involvement not confirmed',
 'Shark involvement prior to death unconfirmed',
 'Tiger shark',
 'White shark',
 "White shark, 11' to 12'",
 "White shark, 15'",
 'White shark, 3 m ',
 "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
 'Wobbegong shark',
 nan}

In [436]:
sharksdf['Species'].fillna('Unknown', inplace=True)

In [437]:
set(sharksdf) # echo un ojo para elegir la siguiente columna sobre la que hacer limpieza

{'Activity',
 'Age',
 'Area',
 'CaseNumber',
 'CaseNumber1',
 'CaseNumber2',
 'Country',
 'Date',
 'Dead(Y/N/U)',
 'Injury',
 'InvestigatororSource',
 'Location',
 'Name',
 'Sex',
 'Species',
 'Type',
 'Year',
 'href',
 'hrefformula',
 'originalorder',
 'pdf'}

In [439]:
sharksdf.head() # el df tiene la siguiente pinta en sus primeras 5 filas

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Dead(Y/N/U),Species,InvestigatororSource,pdf,hrefformula,href,CaseNumber1,CaseNumber2,originalorder
0,2018-06-25,25-Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303
1,2018-06-18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302
2,2018-06-09,09-Jun-2018,2018,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301
3,2018-06-08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Unknown,M,NaN,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300
4,2018-06-04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299

In [440]:
# COLUMNAS HREF Y HREFFORMULA SON LOS MISMO???

In [442]:
sharksdf['hrefformula'].equals(sharksdf['href']) # dice que no es exactamente igual

False

In [443]:
sharksdf['hrefformula'].isin(sharksdf['href']).value_counts() # coinciden 6253 elementos!!! solo 59 no!

True     6253
False      59
Name: hrefformula, dtype: int64

In [ ]:
# LA NORMA DICE QUE NO DEBO BORRAR AQUELLAS COLUMNAS CON MENOS DEL 80% DE ELEMENTOS NULOS 
# PERO AQUÍ PRÁCTICAMENTE TENEMOS UN DUPLICADO DE COLUMNA. LA BORRO.PERDONADME

In [444]:
sharksdf.drop(columns=['hrefformula'], inplace=True)

In [445]:
sharksdf.head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Dead(Y/N/U),Species,InvestigatororSource,pdf,href,CaseNumber1,CaseNumber2,originalorder
0,2018-06-25,25-Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303
1,2018-06-18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302
2,2018-06-09,09-Jun-2018,2018,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301
3,2018-06-08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Unknown,M,NaN,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300
4,2018-06-04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299

In [446]:
sharksdf['href'].isnull().sum() # solo diez nulitos. Voy a corregirlos

10

In [447]:
sharksdf['href'].fillna('Unknown', inplace=True) # hago efectivo el cambio

In [ ]:
#CASENUMBER1 Y CASENUMBER2

In [448]:
sharksdf['CaseNumber1'].equals(sharksdf['CaseNumber2'])

False

In [449]:
sharksdf['CaseNumber1'].isin(sharksdf['CaseNumber2']).value_counts()

True     6293
False      19
Name: CaseNumber1, dtype: int64

In [450]:
#UN POCO LO MISMO QUE CON HREF Y HREFFORMULA
sharksdf.drop(columns=['CaseNumber1'], inplace=True)

In [451]:
lst2=[]

for x in sharksdf.CaseNumber2:
    x = str(x)
    lst2.append("-".join(x.split(".")[:3]))   #sustituyo los "." por "-"
lst2

['2018-06-25',
 '2018-06-18',
 '2018-06-09',
 '2018-06-08',
 '2018-06-04',
 '2018-06-03',
 '2018-06-03',
 '2018-05-27',
 '2018-05-26',
 '2018-05-26',
 '2018-05-24',
 '2018-05-21',
 '2018-05-13',
 '2018-05-13',
 '2018-05-00',
 '2018-05-12',
 '2018-05-09',
 '2018-04-30',
 '2018-04-28',
 '2018-04-28',
 '2018-04-25',
 '2018-04-25',
 '2018-04-24',
 '2018-04-23',
 '2018-04-22',
 '2018-04-19',
 '2018-04-15',
 '2018-04-15',
 '2018-04-15',
 '2018-04-15',
 '2018-04-14',
 '2018-04-10',
 '2018-04-09',
 '2018-04-05',
 '2018-04-03',
 '2018-03-31',
 '2018-03-14',
 '2018-03-09',
 '2018-03-09',
 '2018-02-24',
 '2018-02-23',
 '2018-02-17',
 '2018-02-15',
 '2018-02-14',
 '2018-02-11',
 '2018-02-03',
 '2018-02-01',
 '2018-01-28',
 '2018-01-21',
 '2018-01-14',
 '2018-01-13',
 '2018-01-12',
 '2018-01-05',
 '2017-12-31',
 '2017-12-30',
 '2017-12-21',
 '2017-12-09',
 '2017-11-30',
 '2017-11-30',
 '2017-11-25',
 '2017-11-24',
 '2017-11-18',
 '2017-11-13',
 '2017-11-13',
 '2017-11-04',
 '2017-10-31',
 '2017-10-28',
 '2017-10-26',
 '2017-10-23',
 '2017-10-23',
 '2017-10-23',
 '2017-10-22',
 '2017-10-21',
 '2017-10-18',
 '2017-10-09',
 '2017-10-05',
 '2017-10-01',
 '2017-09-25',
 '2017-09-25',
 '2017-09-24',
 '2017-09-24',
 '2017-09-20',
 '2017-09-16',
 '2017-09-16',
 '2017-09-15',
 '2017-09-15',
 '2017-09-14',
 '2017-09-13',
 '2017-09-10',
 '2017-09-10',
 '2017-09-06',
 '2017-09-03',
 '2017-09-03',
 '2017-09-02',
 '2017-09-02',
 '2017-09-02',
 '2017-08-29',
 '2017-08-27',
 '2017-08-26',
 '2017-08-26',
 '2017-08-23',
 '2017-08-18',
 '2017-08-10',
 '2017-08-05',
 '2017-08-03',
 '2017-08-01',
 '2017-07-31',
 '2017-07-29',
 '2017-07-29',
 '2017-07-27',
 '2017-07-26',
 '2017-07-24',
 '2017-07-23',
 '2017-07-23',
 '2017-07-22',
 '2017-07-20',
 '2017-07-20',
 '2017-07-20',
 '2017-07-14',
 '2017-07-14',
 '2017-07-11',
 '2017-07-09',
 '2017-07-07',
 '2017-07-07',
 '2017-07-02',
 '2017-06-29',
 '2017-06-21',
 '2017-06-19',
 '2017-06-18',
 '2017-06-18',
 '2017-06-17',
 '2017-06-05',
 '2017-06-14',
 '2017-06-11',
 '2017-06-10',
 '2017-06-10',
 '2017-06-07',
 '2017-06-04',
 '2017-06-02',
 '2017-05-30',
 '2017-05-28',
 '2017-05-27',
 '2017-05-12',
 '2017-05-06',
 '2017-05-06',
 '2017-05-03',
 '2017-04-29',
 '2017-04-29',
 '2017-04-29',
 '2017-04-29',
 '2017-04-27',
 '2017-04-26',
 '2017-04-22',
 '2017-04-20',
 '2017-04-17',
 '2017-04-17',
 '2017-04-14',
 '2017-04-13',
 '2017-04-12',
 '2017-04-12',
 '2017-04-11',
 '2017-04-10',
 '2017-04-10',
 '2017-04-06',
 '2017-04-05',
 '2017-04-02',
 '2017-04-02',
 '2017-03-27',
 '2017-03-19',
 '2017-03-18',
 '2017-03-11',
 '2017-03-09',
 '2017-02-25',
 '2017-02-24',
 '2017-02-21',
 '2017-02-17',
 '2017-02-11',
 '2017-02-06',
 '2017-02-06',
 '2017-02-01',
 '2017-02-01',
 '2017-01-24',
 '2017-01-22',
 '2017-01-21',
 '2017-01-13',
 '2017-01-13',
 '2017-01-09',
 '2017-01-08',
 '2017-01-05',
 '2017-01-03',
 '2016-12-27',
 '2016-12-24',
 '2016-12-19',
 '2016-12-14',
 '2016-12-11',
 '2016-12-11',
 '2016-12-06',
 '2016-12-01',
 '2016-11-28',
 '2016-11-14',
 '2016-10-30',
 '2016-10-29',
 '2016-10-24',
 '2016-10-21',
 '2016-10-15',
 '2016-10-14',
 '2016-10-13',
 '2016-10-12',
 '2016-10-10',
 '2016-10-02',
 '2016-10-01',
 '2016-09-26',
 '2016-09-18',
 '2016-09-18',
 '2016-09-18',
 '2016-09-17',
 '2016-09-17',
 '2016-09-15',
 '2016-09-15',
 '2016-09-11',
 '2016-09-07',
 '2016-09-06',
 '2016-09-05',
 '2016-09-05',
 '2016-09-04',
 '2016-09-01',
 '2016-09-00',
 '2016-08-29',
 '2016-08-29',
 '2016-08-27',
 '2016-08-25',
 '2016-08-07',
 '2016-08-06',
 '2016-08-04',
 '2016-07-29',
 '2016-07-28',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-24',
 '2016-07-23',
 '2016-07-23',
 '2016-07-20',
 '2016-07-17',
 '2016-07-16',
 '2016-07-16',
 '2016-07-15',
 '2016-07-15',
 '2016-07-14',
 '2016-07-08',
 '2016-07-08',
 '2016-07-07',
 '2016-07-07',
 '2016-07-06',
 '2016-07-04',
 '2016-06-27',
 '2016-06-25',
 '2016-06-24',
 '2016-06-23',
 '2016-06-21',
 '2016-06-21',
 '2016-06-15',
 '2016-06-15',
 '2016-06-14',
 '2016-06-11',
 '2016-06-07',
 '2016-06-05',
 '2016-06-05',
 '2016-06-04',
 '2016-06-02',
 '2016-06-02',
 '2016-05-31',
 '2016-05-29',
 '2016-05-29',
 '2016-05-22',
 '2016-05-21',
 '2016-05-21',
 '2016-05-18',
 '2016-05-15',
 '2016-05-03',
 '2016-05-02',
 '2016-04-25',
 '2016-04-23',
 '2016-04-22',
 '2016-04-19',
 '2016-04-18',
 '2016-04-18',
 '2016-04-13',
 '2016-04-09',
 '2016-04-08',
 '2016-04-07',
 '2016-04-07',
 '2016-03-31',
 '2016-03-30',
 '2016-03-28',
 '2016-03-28',
 '2016-03-26',
 '2016-03-13',
 '2016-03-11',
 '2016-03-10',
 '2016-03-04',
 '2016-03-03',
 '2016-03-02',
 '2016-02-22',
 '2016-02-19',
 '2016-02-12',
 '2016-02-10',
 '2016-02-10',
 '2016-02-05',
 '2016-02-04',
 '2016-02-02',
 '2016-01-29',
 '2016-01-28',
 '2016-01-25',
 '2016-01-24',
 '2016-01-24',
 '2016-01-23',
 '2016-01-11',
 '2016-01-05',
 '2016-01-02',
 '2015-12-26',
 '2015-12-25',
 '2015-12-22',
 '2015-12-21',
 '2015-12-21',
 '2015-12-19',
 '2015-12-13',
 '2015-12-11',
 '2015-12-08',
 '2015-11-20',
 '2015-11-16',
 '2015-11-15',
 '2015-11-15',
 '2015-11-10',
 '2015-12-23',
 '2015-11-03',
 '2015-11-01',
 '2015-11-01',
 '2015-10-30',
 '2015-10-28',
 '2015-10-25',
 '2015-10-21',
 '2015-10-19',
 '2015-10-17',
 '2015-10-17',
 '2015-10-17',
 '2015-10-13',
 '2015-10-09',
 '2015-10-09',
 '2015-10-08',
 '2015-10-07',
 '2015-10-05',
 '2015-10-05',
 '2015-10-04',
 '2015-09-29',
 '2015-09-26',
 '2015-09-24',
 '2015-09-20',
 '2015-09-20',
 '2015-09-20',
 '2015-09-20',
 '2015-09-19',
 '2015-09-18',
 '2015-09-17',
 '2015-09-08',
 '2015-09-06',
 '2015-09-05',
 '2015-09-04',
 '2015-09-03',
 '2015-09-01',
 '2015-09-00',
 '2015-08-29',
 '2015-08-29',
 '2015-08-22',
 '2015-08-22',
 '2015-08-20',
 '2015-08-19',
 '2015-08-18',
 '2015-08-18',
 '2015-08-10',
 '2015-07-31',
 '2015-07-28',
 '2015-07-27',
 '2015-07-26',
 '2015-07-26',
 '2015-07-25',
 '2015-07-23',
 '2015-07-23',
 '2015-07-22',
 '2015-07-19',
 '2015-07-10',
 '2015-07-08',
 '2015-07-06',
 '2015-07-04',
 '2015-07-04',
 '2015-07-03',
 '2015-07-02',
 '2015-07-01',
 '2015-06-30',
 '2015-06-30',
 '2015-06-27',
 '2015-06-27',
 '2015-06-26',
 '2015-06-26',
 '2015-06-26',
 '2015-06-25',
 '2015-06-25',
 '2015-06-24',
 '2015-06-24',
 '2015-06-23',
 '2015-06-19',
 '2015-06-17',
 '2015-06-14',
 '2015-06-14',
 '2015-06-13',
 '2015-06-11',
 '2015-06-07',
 '2015-06-05',
 '2015-06-01',
 '2015-05-29',
 '2015-05-29',
 '2015-05-25',
 '2015-05-24',
 '2015-05-20',
 '2015-05-15',
 '2015-05-09',
 '2015-05-07',
 '2015-05-03',
 '2015-05-02',
 '2015-04-29',
 '2015-04-26',
 '2015-04-25',
 '2015-04-24',
 '2015-04-13',
 '2015-04-12',
 '2015-04-11',
 '2015-04-03',
 '2015-03-29',
 '2015-03-31',
 '2015-03-26',
 '2015-03-21',
 '2015-03-18',
 '2015-03-16',
 '2015-03-11',
 '2015-03-10',
 '2015-03-07',
 '2015-02-15',
 '2015-02-14',
 '2015-02-09',
 '2015-02-08',
 '2015-02-05',
 '2015-01-30',
 '2015-01-27',
 '2015-01-24',
 '2015-01-23',
 '2015-01-19',
 '2015-01-19',
 '2015-01-17',
 '2015-01-16',
 '2015-01-08',
 '2015-01-06',
 '2015-01-03',
 '2015-01-01',
 '2014-12-29',
 '2014-12-29',
 '2014-12-28',
 '2014-12-28',
 '2014-12-28',
 '2014-12-28',
 '2014-12-23',
 '2014-12-15',
 '2014-12-03',
 '2014-11-29',
 '2014-11-20',
 '2014-11-19',
 '2014-11-17',
 '2014-11-16',
 '2014-11-13',
 '2014-11-10',
 '2014-11-08',
 '2014-10-31',
 '2014-10-30',
 '2014-10-22',
 '2014-10-20',
 '2014-10-19',
 '2014-10-18',
 '2014-10-17',
 '2014-10-14',
 '2014-10-12',
 '2014-10-11',
 '2014-10-05',
 '2014-10-07',
 '2014-10-05',
 '2014-10-03',
 '2014-10-03',
 '2014-10-02',
 '2014-10-02',
 '2014-09-21',
 '2014-09-13',
 '2014-09-13',
 '2014-09-09',
 '2014-09-06',
 '2014-09-03',
 '2014-09-02',
 '2014-09-00',
 '2014-08-31',
 '2014-08-29',
 '2014-08-29',
 '2014-08-28',
 '2014-08-27',
 '2014-08-27',
 '2014-08-27',
 '2014-08-25',
 '2014-08-24',
 '2014-08-16',
 '2014-08-12',
 '2014-08-10',
 '2014-08-09',
 '2014-08-09',
 '2014-08-08',
 '2014-08-06',
 '2014-08-05',
 '2014-08-02',
 '2014-08-02',
 '2014-08-01',
 '2014-08-00',
 '2014-07-27',
 '2014-07-22',
 '2014-07-21',
 '2014-07-20',
 '2014-07-16',
 '2014-07-14',
 '2014-07-13',
 '2014-07-12',
 '2014-07-09',
 '2014-07-05',
 '2014-07-05',
 '2014-07-03',
 '2014-06-27',
 '2014-06-25',
 '2014-06-18',
 '2014-06-18',
 '2014-06-17',
 '2014-06-09',
 '2014-06-09',
 '2014-06-09',
 '2014-06-08',
 '2014-06-07',
 '2014-06-01',
 '2014-06-01',
 '2014-06-01',
 '2014-05-27',
 '2014-05-23',
 '2014-05-22',
 '2014-05-15',
 '2014-05-14',
 '2014-05-13',
 '2014-05-11',
 '2014-05-10',
 '2014-05-06',
 '2014-05-04',
 '2014-05-01',
 '2014-04-24',
 '2014-04-22',
 '2014-04-15',
 '2014-04-12',
 '2014-04-12',
 '2014-04-04',
 '2014-04-04',
 '2014-04-03',
 '2014-03-29',
 '2014-03-22',
 '2014-03-22',
 '2014-03-21',
 '2014-03-18',
 '2014-03-18',
 '2014-03-18',
 '2014-03-12',
 '2014-03-13',
 '2014-03-02',
 '2014-02-20',
 '2014-02-17',
 '2014-02-08',
 '2014-02-07',
 '2014-02-07',
 '2014-01-26',
 '2014-01-25',
 '2014-01-04',
 '2014-00-00',
 '2014-00-00',
 '2013-12-25',
 '2013-12-16',
 '2013-12-13',
 '2013-12-11',
 '2013-12-10',
 '2013-12-05',
 '2013-12-02',
 '2013-11-30',
 '2013-11-29',
 '2013-11-23',
 '2013-11-22',
 '2013-11-12',
 '2013-11-10',
 '2013-11-07',
 '2013-11-07',
 '2013-10-31',
 '2013-10-28',
 '2013-10-26',
 '2013-10-26',
 '2013-10-24',
 '2013-10-23',
 '2013-10-20',
 '2013-10-19',
 '2013-10-11',
 '2013-10-08',
 '2013-10-05',
 '2013-10-05',
 '2013-09-29',
 '2013-09-29',
 '2013-09-25',
 '2013-09-21',
 '2013-09-21',
 '2013-09-14',
 '2013-09-12',
 '2013-09-08',
 '2013-09-07',
 '2013-09-07',
 '2013-09-02',
 '2013-09-01',
 '2013-09-01',
 '2013-09-01',
 '2013-08-31',
 '2013-08-31',
 '2013-08-29',
 '2013-08-26',
 '2013-08-25',
 '2013-08-25',
 '2013-08-18',
 '2013-08-17',
 '2013-08-14',
 '2013-08-13',
 '2013-08-11',
 '2013-08-08',
 '2013-08-05',
 '2013-07-31',
 '2013-07-30',
 '2013-07-29',
 '2013-07-29',
 '2013-07-29',
 '2013-07-28',
 '2013-07-28',
 '2013-07-22',
 '2013-07-19',
 '2013-07-17',
 '2013-07-15',
 '2013-07-14',
 '2013-07-11',
 '2013-07-09',
 '2013-07-02',
 '2013-06-30',
 '2013-06-27',
 '2013-06-25',
 '2013-06-25',
 '2013-06-25',
 '2013-06-18',
 '2013-06-17',
 '2013-06-16',
 '2013-06-15',
 '2013-06-14',
 '2013-06-06',
 '2013-06-06',
 '2013-05-27',
 '2013-05-27',
 '2013-05-23',
 '2013-05-23',
 '2013-05-14',
 '2013-05-08',
 '2013-05-08',
 '2013-05-04',
 '2013-04-28',
 '2013-04-24',
 '2013-04-21',
 '2013-04-17',
 '2013-04-14',
 '2013-04-13',
 '2013-04-13',
 '2013-04-10',
 '2013-04-04',
 '2013-04-02',
 '2013-04-02',
 '2013-03-31',
 '2013-03-29',
 '2013-03-21',
 '2013-03-21',
 '2013-03-16',
 '2013-03-16',
 '2013-03-12',
 '2013-03-10',
 '2013-03-10',
 '2013-03-03',
 '2013-02-27',
 '2013-02-21',
 '2013-02-21',
 '2013-02-10',
 '2013-02-09',
 '2013-02-01',
 '2013-01-26',
 '2013-01-25',
 '2013-01-21',
 '2013-01-16',
 '2013-01-13',
 '2013-01-05',
 '2012-12-31',
 '2012-12-30',
 '2012-12-28',
 '2012-12-25',
 '2012-12-19',
 '2012-12-05',
 '2012-12-02',
 '2012-12-00',
 '2012-11-30',
 '2012-11-27',
 '2012-11-22',
 '2012-11-19',
 '2012-11-04',
 '2012-11-04',
 '2012-10-30',
 '2012-10-27',
 '2012-10-23',
 '2012-10-19',
 '2012-10-18',
 '2012-10-18',
 '2012-10-16',
 '2012-10-11',
 '2012-10-07',
 '2012-10-02',
 '2012-09-25',
 '2012-09-24',
 '2012-09-16',
 '2012-09-10',
 '2012-09-09',
 '2012-09-08',
 '2012-09-08',
 '2012-09-06',
 '2012-09-06',
 '2012-09-04',
 '2012-09-02',
 '2012-09-02',
 '2012-09-02',
 '2012-08-31',
 '2012-08-28',
 '2012-08-26',
 '2012-08-15',
 '2012-08-11',
 '2012-08-09',
 '2012-08-05',
 '2012-08-04',
 '2012-07-31',
 '2012-07-31',
 '2012-07-30',
 '2012-07-30',
 '2012-07-24',
 '2012-07-23',
 '2012-07-21',
 '2012-07-19',
 '2012-07-14',
 '2012-07-08',
 '2012-07-07',
 '2012-07-07',
 '2012-07-07',
 '2012-07-06',
 '2012-06-28',
 '2012-06-26',
 '2012-06-26',
 '2012-06-26',
 '2012-06-22',
 '2012-06-22',
 '2012-06-20',
 '2012-06-19',
 '2012-06-18',
 '2012-06-15',
 '2012-06-14',
 '2012-06-14',
 '2012-06-14',
 '2012-06-14',
 '2012-06-12',
 '2012-06-10',
 '2012-06-03',
 '2012-06-02',
 '2012-06-02',
 '2012-05-31',
 '2012-05-29',
 '2012-05-23',
 '2012-05-20',
 '2012-05-16',
 '2012-05-12',
 '2012-05-09',
 '2012-05-06',
 '2012-04-19',
 '2012-04-19',
 '2012-04-11',
 '2012-04-03',
 '2012-04-00',
 '2012-03-31',
 '2012-03-24',
 '2012-03-22',
 '2012-03-20',
 '2012-03-15',
 '2012-03-14',
 '2012-03-14',
 '2012-03-06',
 '2012-03-06',
 '2012-03-05',
 '2012-03-04',
 '2012-03-03',
 '2012-03-01',
 '2012-02-26',
 '2012-02-25',
 '2012-02-20',
 '2012-02-06',
 '2012-01-27',
 '2012-01-19',
 '2012-01-22',
 '2012-01-18',
 '2012-01-18',
 '2012-01-15',
 '2012-01-13',
 '2012-01-03',
 '2012-01-02',
 '2011-12-31',
 '2011-12-26',
 '2011-12-25',
 '2011-12-23',
 '2011-12-21',
 '2011-12-21',
 '2011-12-11',
 '2011-12-07',
 '2011-12-07',
 '2011-12-06',
 '2011-12-05',
 '2011-12-02',
 '2011-11-29',
 '2011-11-28',
 '2011-11-22',
 '2011-11-20',
 '2011-11-12',
 '2011-11-11',
 '2011-10-29',
 '2011-10-28',
 '2011-10-28',
 '2011-10-22',
 '2011-10-20',
 '2011-10-19',
 '2011-10-11',
 '2011-10-10',
 '2011-10-09',
 '2011-10-05',
 '2011-10-02',
 '2011-10-01',
 '2011-09-30',
 '2011-09-28',
 '2011-09-28',
 '2011-09-24',
 '2011-09-24',
 '2011-09-20',
 '2011-09-19',
 '2011-09-17',
 '2011-09-16',
 '2011-09-11',
 '2011-09-11',
 '2011-09-04',
 '2011-09-04',
 '2011-09-02',
 '2011-08-31',
 '2011-08-28',
 '2011-08-28',
 '2011-08-26',
 '2011-08-24',
 '2011-08-24',
 '2011-08-23',
 '2011-08-18',
 '2011-08-17',
 '2011-08-17',
 '2011-08-17',
 '2011-08-16',
 '2011-08-16',
 '2011-08-16',
 '2011-08-15',
 '2011-08-11',
 '2011-08-01',
 '2011-07-31',
 '2011-07-30',
 '2011-07-25',
 '2011-07-22',
 '2011-07-19',
 '2011-07-15',
 '2011-07-13',
 '2011-07-13',
 '2011-07-07',
 '2011-07-07',
 '2011-07-06',
 '2011-07-05',
 '2011-06-30',
 '2011-06-29',
 '2011-06-28',
 '2011-06-26',
 '2011-06-24',
 '2011-06-21',
 '2011-06-19',
 '2011-06-19',
 '2011-06-15',
 '2011-06-14',
 '2011-06-12',
 '2011-06-06',
 '2011-06-06',
 '2011-06-06',
 '2011-06-01',
 '2011-05-30',
 '2011-05-29',
 '2011-05-25',
 '2011-05-22',
 '2011-05-21',
 '2011-05-13',
 '2011-05-21',
 '2011-05-13',
 '2011-05-10',
 '2011-05-07',
 '2011-05-04',
 '2011-04-26',
 '2011-04-23',
 '2011-04-22',
 '2011-04-16',
 '2011-04-12',
 '2011-04-08',
 '2011-03-29',
 '2011-03-24',
 '2011-03-23',
 '2011-03-21',
 '2011-03-21',
 '2011-03-16',
 '2011-03-10',
 '2011-03-10',
 '2011-02-28',
 '2011-02-23',
 '2011-02-19',
 '2011-02-17',
 '2011-02-13',
 '2011-02-12',
 '2011-02-04',
 '2011-02-02',
 '2011-01-31',
 '2011-01-28',
 '2011-01-26',
 '2011-01-20',
 '2011-01-15',
 '2011-01-12',
 '2011-01-03',
 '2010-12-26',
 '2010-12-17',
 '2010-12-11',
 '2010-12-05',
 '2010-12-03',
 '2010-12-01',
 '2010-12-01',
 '2010-11-30',
 '2010-11-30',
 '2010-11-27',
 '2010-11-27',
 '2010-11-19',
 '2010-11-15',
 '2010-11-14',
 '2010-11-12',
 '2010-10-30',
 '2010-10-28',
 '2010-10-28',
 '2010-10-25',
 '2010-10-23',
 '2010-10-23',
 '2010-10-22',
 '2010-10-20',
 '2010-10-09',
 '2010-10-02',
 '2010-10-02',
 '2010-10-01',
 '2010-09-27',
 '2010-09-24',
 '2010-09-21',
 '2010-09-13',
 '2010-09-07',
 '2010-09-06',
 '2010-09-04',
 '2010-09-03',
 '2010-09-03',
 '2010-09-02',
 '2010-08-29',
 '2010-08-18',
 '2010-08-17',
 '2010-08-14',
 '2010-08-10',
 '2010-08-10',
 ...]

In [452]:
sharksdf['CaseNumber2']=lst2 # hago efectivo el cambio

In [453]:
sharksdf['CaseNumber'].equals(sharksdf['CaseNumber2'])

False

In [454]:
sharksdf['CaseNumber'].isin(sharksdf['CaseNumber2']).value_counts()

True     6287
False      25
Name: CaseNumber, dtype: int64

In [457]:
sharksdf['CaseNumber2'].isnull().sum()

0

In [ ]:
#VIENE A SER LO MISMO QUE CASENUMBER!! LO DEJO AQUÍ

In [455]:
sharksdf.shape, sharksdf2.shape # sorry por borrar las columnas, seguiría borrando porque sinceramente son casi duplicados!asi no se puede

((6312, 19), (6312, 22))

In [456]:
sharksdf.head()

,CaseNumber,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Dead(Y/N/U),Species,InvestigatororSource,pdf,href,CaseNumber2,originalorder
0,2018-06-25,25-Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-25,6303
1,2018-06-18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-18,6302
2,2018-06-09,09-Jun-2018,2018,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-09,6301
3,2018-06-08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Unknown,M,NaN,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-08,6300
4,2018-06-04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018-06-04,6299

In [ ]:
#LA COLUMNA PDF ME DA LA INFO DE NAME Y DE CASENUMBER O CASENUMBER2. PERO NO PUEDO BORRARLA......

In [ ]:
#FINAL

In [458]:
sharksdf.to_csv('attacks.csv', index=False)